.about-us {
  p {
    text-align: justify;
  }
  color: $dark-gray;
}

.about-us__plus {
  img {
    padding: 4rem 6rem;
  }
  h2 {
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
}

.container-hover {
  text-align: left;
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  transition: all .25s ease-in;
  a {
    color: $dark-gray;
  }
  p, h2 {
    margin-top: 1rem;
  }
  .link {
    text-align: center;
    margin-bottom: 0;
    color: $light-green;
  }
  &:hover {
    background-color: $light-silver;
    transition: all .25s ease-in;
  }
}

.about-us__paragraph {
  padding: 1rem 1.5rem;
  background-color: $light-silver;
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.header-section_bgc {
  background-color: $light-gray;
}

.about-us__partners {
  a {
    margin: 0;
  }
  h2 {
    margin: 0;
  }
}
.partners__logo {
  padding: 0;
}

.partners__text {
  .link {
    text-align: right;
  }
}

.logo-line {
  display: block;
  text-align: center;
  .logo + .slick-center {
    background-image: url(../img/logo_line_c.png);
  }
  .logo {
    display: inline-block;
    width: 192px;
    height: 192px;
    margin: 0 15px;
    transition: 0s;
    background-image: url(../img/logo_line.png);
    &:hover {
      transition: 0s;
    }
  }
}
