.honors {
  a {
    position: relative;
    height: 300px;

    .honors__boxy {
      @include absolute-center;
      background-color: $light-gray;
      max-height: 250px;

      &.horizontal {
        max-width: 230px;
        height: auto;
      }

      &.thumbnail:hover {
        box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.5);
      }
    }

  }
}
