.footer-top {
  background-color: $light-green;
  color: $light-silver;
  padding: 2rem 0;
  p, h6 {
    line-height: 1.2;
  }
  h3 {
    font-weight: 500;
    margin-bottom: 1.2rem;
  }
  small {
    color: $light-gray;
  }
  .addres {
    p {
      margin-bottom: 0.3rem;
    }
    .filled-row {
      background-color: $white;
      color: $dark-gray;
      padding: 0.3rem 0.5rem;
      display: block;
      margin-bottom: 0.5rem;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    margin-left: -6px;
    li {
      list-style-type: none;
      a {
        color: $light-silver;
        h5, h6 {
          font-weight: 500;
          margin: 0;
        }
        h6 {
          padding: 4px 6px;
          margin-bottom: 0.4em;
        }
        &:hover {
          color: $white;
        }
      }
    }
  }
}
.footer-top__news {
  li {
    padding: 4px 6px;
  }
}
.footer-bottom {
  color: $light-gray;
  background-color: $dark-gray;
  padding: 0.5rem 0;
  h6 {
    margin: 0;
  }
}
