.footer {
  font-size: 14px;
}
.footer-top {
  background-color: $light-silver;
  color: $dark-gray;
  b, h6 {
    line-height: 1.2;
  }
  b {
    display: block;
  }
  h3 {
    font-weight: 500;
    margin-bottom: 0.5em;
  }
  small {
    color: $light-gray;
  }
  .addres {
    padding-top: 1.2em;
    background-color: $light-green;
    color: $light-silver;
    form {
      .input-group-field {
        border: 0;
      }
      .button {
        color: $light-silver;
      }
    }
    b {
      margin-bottom: 0.6em;
    }
    .filled-row {
      background-color: $white;
      color: $dark-gray;
      padding: 0.3rem 0.5rem;
      display: block;
      margin-bottom: 0.5rem;
      &.href {
        color: #0000FF;
        &:hover {
          color: lighten(#0000FF, 30%);
        }
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;
    margin-left: -6px;
    li {
      list-style-type: none;
      a {
        display: block;
        color: $dark-gray;
        text-decoration: none;
        h5, h6 {
          font-weight: 500;
          margin: 0;
        }
        h6 {
          padding: 4px 6px;
          margin-bottom: 0.4em;
        }
      }
    }
  }
}
.footer-top__news {
  padding-top: 1.2em;
  small {
    color: $medium-gray;
  }
  ul {
    margin-right: 4em;
    li {
      border-top: 1px $light-gray solid;
      padding: 8px 10px;
      &:first-child {
        border-top: none;
      }
      a {
        transition: .3s ease-out;
      }
      p {
        margin-bottom: 0.5em;
      }
      &:hover {
        a {
          color: $dark-gray;
          transition: .3s ease-out;
        }
      }
    }
  }
}
.footer-bottom {
  color: $light-gray;
  background-color: $dark-gray;
  padding: 0.5rem 0;
  h6 {
    margin: 0;
  }
}

@media screen and (max-width: 1200px) {
  .footer-top__news {
    ul {
      margin-right: 0;
    }
  }
}
