.header {
  position: relative;
  overflow: hidden;
  height: auto;
  img {
    @include absolute-center;
    top: 45%;
    width: 100%;
    z-index: -1;
  }
}

.header__text {
  color: $white;
  padding: 6rem 0;
  h1 {
    text-transform: uppercase;
    margin: 0;
    span {
      padding: 0 1rem 0 4rem;
    }
  }
  & > span {
    padding: 0.2rem 1rem 0.2rem 4rem;
    font-size: 1.4em;
    background-color: $black;
  }
}

.header__callback {
  
}
