.top-bar {
	position: relative;
	height: 100px;
}

.top-bar-title {
	@include vertical-center;

	margin: 0 1rem;
}

.top-bar-right {
}

.menu {
	height: 100px;
	li {
		position: relative;
		height: 100px;
		width: 100px;
		a {
			@include vertical-center;
			width: 100%;
			padding: 0;
			color: $white;
			text-transform: uppercase;

			& img, & i, & svg {
				margin: 0;
				display: block;
			}
		}
	}
}
