.header {
  position: relative;
  overflow: hidden;
  height: auto;
  img {
    @include absolute-center;
    top: 45%;
    width: 100%;
    z-index: -1;
  }
}

.header__text {
  color: $white;
  padding: 6rem 0;
  h1 {
    text-transform: uppercase;
    margin: 0;
    span {
      padding: 0 1rem 0 4rem;
    }
  }
  & > span {
    padding: 0.2rem 1rem 0.2rem 4rem;
    font-size: 1.4em;
    background-color: $black;
  }
}

.header__callback {
  padding: 6rem 6rem 0 4rem;
  form {
    .log-in-form {
      background-color: $white;
      max-width: 36rem;
      padding: 1rem;
      .button {
        font-size: 1em;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}
.header-form__button {
  display: inline-block;
  background-color: $white;
  font-weight: 500;
  padding: 0.8rem 1rem;
  width: 50%;
  &.light-green {
    color: $wight;
    background-color: $light-green;
  }
}
