.icons {
  margin-bottom: 3rem;
}

.icons-block {
  position: relative;
  padding: 0;
  &::before {
    position: absolute;
    font-family: FontAwesome;
    font-size: 2em;
    color: $dark-gray;
    content: "\f061";
    top: 32%;
    left: -3%;
  }
  h3 {
    color: $dark-gray;
    text-transform: uppercase;
    font-weight: 500;
  }
  .img-icon {
    height: 250px;
    width: 250px;
    background: url(../img/icons_block.png);
    margin: 1.5rem 75px;
  }
  &:nth-child(1) {
    &::before {
      content: "";
    }
  }
  &:nth-child(2) {
    .img-icon {
      background-position: -250px 0;
    }
  }
  &:nth-child(3) {
    .img-icon {
      background-position: 250px 0;
    }
  }
}
