
// Основные цвета сайта

$wight: #fff;
$light-silver: #f8f8f8;
$light-green: #39b54a;
$medium-green: #009245;
$dark-green: #006837;

.light-green {
  background-color: $light-green;
}
.medium-green {
  background-color: $medium-green;
}
.dark-green {
  background-color: $dark-green;
}
.light-gray {
  background-color: $light-gray;
}
.medium-gray {
  background-color: $medium-gray;
}
.dark-gray {
  background-color: $dark-gray;
}
.light-silver {
  background-color: $light-silver;
}

// (/end) Основные цвета сайта

// Модификаторы цвета

.light-green.hover-effect:hover {
	background-color: scale-color($light-green, $lightness: -10%);
  transition: 0.2s ease-in;
}
.light-green.hover-effect:active {
  background-color: $light-green;
  transition: 0.2s ease-in;
}

.medium-green.hover-effect:hover {
	background-color: scale-color($medium-green, $lightness: -10%);
  transition: 0.2s ease-in;
}
.medium-green.hover-effect:active {
  background-color: $medium-green;
  transition: 0.2s ease-in;
}

.dark-green.hover-effect:hover {
	background-color: scale-color($dark-green, $lightness: -10%);
  transition: 0.2s ease-in;
}
.dark-green.hover-effect:active {
  background-color: $dark-green;
  transition: 0.2s ease-in;
}

.medium-gray.hover-effect:hover {
	background-color: scale-color($medium-gray, $lightness: -10%);
  transition: 0.2s ease-in;
}
.medium-gray.hover-effect:active {
  background-color: $medium-gray;
  transition: 0.2s ease-in;
}

// (/end) Модификаторы цвета

// Оформбление заголовков секций (.header-section)

.header-section {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
  &.sub {
    margin-top: 3rem;
  }
}

.header-section__text {
  color: $dark-gray;
  font-size: 2em;
  font-weight: 500;
}

.header-section__line {
  background-color: $light-green;
  height: 4px;
}

// (/end) Оформбление заголовков секций (.header-section)

.grid, .news-grid {
  background-color: $light-silver;
}

table tbody tr:nth-child(even) {
  background-color: $light-silver;
}

table thead {
  background: $light-gray;
}

#header-services {
  .header__text {
    padding: 4rem 0;
  }
}

.error {
  position: relative;
  height: 100%;
  .error-content {
    @include absolute-center;
    h1 {
      color: $light-green;
    }
  }
}

.grid-sizer {
  z-index: -1;
}
