.pages-content {
  margin-bottom: 3rem;
}

.pages-text {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.pages-price {
  margin-bottom: 3rem;
  h4 {
    margin-bottom: 1.5rem;
  }
}

.pages-form {
  h4 {
    margin-bottom: 1.5rem;
  }
}

.mine-form {
  padding-top: 0.9375rem;
}
