.partners-row {
  display: flex;
  align-items: stretch;
  padding: 0;
}
.partner-block {
  color: $dark-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  &:first-child {
    margin-right: 1rem;
  }
  span {
  }
  &:hover {
    .partner-block__head {
      background-color: $light-gray;
      transition: .3s ease-out;
    }
    .partner-block__content {
      border: 1px solid $light-gray;
      transition: .3s ease-out;
    }
  }
}
.partner-block__head {
  background-color: $light-silver;
  display: flex;
  height: 10rem;
  padding: 1rem;
  transition: .3s ease-out;
  .head__logo {
    width: 10rem;
    height: 100%;
    margin-right: 1rem;
  }
  .head__title {
    align-self: center;
    flex: 2;
    text-align: center;
    margin: 0;

    b {
      text-transform: uppercase;
    }
  }
}

.partner-block__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $light-silver;
  height: 12rem;
  overflow: hidden;
  padding: 1rem;
  transition: .3s ease-out;
  ul {
    li {
      text-align: left;
      margin-top: 1rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .button {
    margin: 0;
  }
  button {
    margin: 0;
    z-index: 9999;
  }
  .expand {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    button {
      width: 100%;
      padding: 0.5rem;
      padding-top: 5rem;

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.8+20,1+100 */
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 20%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 20%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 20%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

      span {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .partners-row {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .partners-row {
    flex-direction: column;
  }
  .partner-block:first-child {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .partner-block__head {
    position: relative;
    height: auto;
    flex-direction: column;
    align-items: center;
    .head__logo {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
