.partner_block {
  position: relative;
  height: 300px;

  .content {
    @include absolute-center;
    transform: translate(0%, -50%);
    left: 0;
    padding: 0 0.9375rem;
    text-align: center;
    opacity: .05;
    display: none;
    transition: opacity .3s ease-in;
  }

  .pre_logo {
    @include absolute-center;
    width: 200px;
    opacity: 1;
    text-align: center;
    transition: .3s ease-in;
    h5 {
      transform: translate(0, -70%);
    }
  }

  &:hover {

    .pre_logo  {
      width: 300px;
      opacity: .05;
      transition: .3s ease-out;
    }

    .content {
      display: block;
      opacity: 1;
      transition: opacity .3s ease-out;
    }
  }
}

.logo-partner {
  img {
    padding: 1rem;
  }
}

.logo-header {
  h5 {
    padding: 1rem;
    text-align: right;
  }
}

.partner-content {
  padding: 1rem;
}

.partner {
  margin-top: 1rem;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid $light-silver;
    width: 100%;
  }
}
