.services {
  margin-top: 2rem;
}
.services__main-text {
  background-color: $light-gray;
  color: $dark-gray;
  font-size: 1.2em;
  font-weight: 500;
  padding: 2rem 1rem;
  text-align: center;
  margin: 0;
}
.grid {
  background-color: $light-gray;
}
.grid-sizer,
.grid-item {
  background-color: $dark-gray;
  float: left;
  height: 12em;
  margin: 0.9375em;
  &.large-4 {
    width: 30.667%;
  }
  &.large-8 {
    width: 66.3%;
  }
  &.x-large-4 {
    height: 26em;
  }
}
