.services {
  margin-bottom: 3rem;
}
.services__main-text {
  background-color: $light-silver;
  color: $dark-gray;
  font-size: 1.2em;
  font-weight: 500;
  padding: 2rem;
  text-align: center;
  margin: 0;
}

.grid-sizer,
.grid-item {
  position: relative;
  background-color: $medium-gray;
  float: left;
  height: 12em;
  margin: 1em;
  overflow: hidden;
  &:hover {
    img {
      width: 429px;
      height: 224px;
      opacity: 0.1;
      transition: 0.3s ease-out;
    }
  }
  h2 {
    color: $white;
    margin: 0 0.5rem 0.3rem 0;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2000;
    text-align: right;
    font-size: 1.4rem;
  }
  img {
    @include absolute-center;
    z-index: 1000;
    max-width: none;
    width: 100%;
    height: 100%;
    transition: 0.3s ease-out;
  }
  &.large-4 {
    width: 23em;
  }
  &.large-8 {
    width: 48em;
  }
  &.x-large-4 {
    height: 26em;
  }
}

@media screen and (max-width: 1200px) {
  .grid-sizer,
  .grid-item {
    height: 16em;
    margin: 0.9375em 1.5%;
    &.medium-6 {
      width: 47%;
    }
    &.medium-12 {
      width: 97%;
    }
    &.x-large-4 {
      height: 34em;
    }
  }
}

@media screen and (max-width: 640px) {
  .grid-sizer,
  .grid-item {
    margin: 1vw 2vw;
    &.small-12 {
      width: 96vw;
    }
  }
}
