.container-up-scroll {
  position: fixed;
  bottom: 31px;
  right: 38px;
  z-index: 999999999;
}

.up-scroll {
  display: inline-block;
  position: relative;
  height: 100px;
  width: 100px;
  word-spacing: 0;
  overflow: hidden;
  opacity: 0.5;
  transition: 0.2s ease-in;
  &:hover {
    opacity: 1;
    transition: 0.2s ease-in;
  }
  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in;
    color: $light-silver;
    & i {
      padding-top: 26px;
      padding-bottom: 10px;
      font-size: 32px;
    }

    & img, & i, & svg {
      margin: 0;
      display: block;
    }
  }
}

@media screen and (max-width: 1200px) {
  .container-up-scroll {
    right: 0;
  }
  .up-scroll {
    width: 60px;
    height: 60px;
    a {
      i {
        @include absolute-center;
        padding: 0;
        font-size: 28px;
      }
    }
    span {
      display: none;
    }
  }
}

@media screen and (max-width: 640px) {
  .up-scroll {
    display: none;
  }
}
