{{> partners}}

<section  id="about-us" data-magellan-target="about-us" class="about-us row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">О нас</span>
    <div class="header-section__line"></div>
  </div>

  <div class="medium-4 columns container-hover about-us__plus">
    <a href="error.html">
      <img src="assets/img/about-us/contract.svg">
      <h2>Документы</h2>
      <!-- <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое мир единственное ipsum ручеек свою. Пустился его снова составитель, единственное, за, своих предупредила курсивных рукопись проектах пунктуация путь снова ipsum семь грустный о щеке коварных.</p> -->
      <!-- <p class="link">Подробнее</p> -->
    </a>
  </div>

  <div class="medium-4 columns container-hover about-us__plus">
    <a href="company.html">
      <img src="assets/img/about-us/diploma.svg">
      <h2>О Компании</h2>
      <!-- <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое мир единственное ipsum ручеек свою. Пустился его снова составитель, единственное, за, своих предупредила курсивных рукопись проектах пунктуация путь снова ipsum семь грустный о щеке коварных.</p> -->
      <!-- <p class="link">Подробнее</p> -->
    </a>
  </div>

  <div class="medium-4 columns container-hover about-us__plus">
    <a href="eco-book.html">
      <img src="assets/img/Azbuka_eco_PTU.png">
      <h2>"Азбука эколога"</h2>
      <!-- <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое мир единственное ipsum ручеек свою. Пустился его снова составитель, единственное, за, своих предупредила курсивных рукопись проектах пунктуация путь снова ipsum семь грустный о щеке коварных.</p> -->
      <!-- <p class="link">Подробнее</p> -->
    </a>
  </div>

  <!-- <div class="medium-12 columns about-us__paragraph">

    <p><strong>Лидер групп</strong> ведет деятельность с 2007 года на основании <strong>ФЗ от 24.06.1998 № 89-ФЗ,</strong> являясь одним из ведущих операторов в области обращения с опасными промышленными отходами в Приволжском ФО. В состав <strong>Лидер групп</strong> входят Общество с ограниченной ответственностью <strong>"Промышленно-техническая утилизация"</strong> и Общество с ограниченной ответственностью <strong>"Лидер".</strong> Наш перечень отходов, включенный в состав лицензируемой деятельности, содержит <strong>3149 наименований отходов согласно ФККО.</strong></p>

    <p>В 2014 году <strong>Лидер групп</strong> был создан, а в 2015 запущен проект строительства в Удмуртской республике полигона микробиологической ремедиации отходов  нефтедобывающей и нефтеперерабатывающей промышленности. Согласно проекту ввод в эксплуатацию полигона планируется во втором квартале 2017 года.</p>

  </div> -->



  <div class="header-section text-center medium-12 columns">
    <span class="header-section__text">Нам доверяют решения экологической безопасности:</span>
  </div>

  <div class="clients medium-12 columns">

    <div class="logo-effect left"></div>
    <div class="logo-effect right"></div>

  </div>

  <div class="logo-line large-12 text-center columns">
    <div class="logo" style="background-position: -192px 0;"></div>
    <div class="logo" style="background-position: -384px 0;"></div>
    <div class="logo" style="background-position: -576px 0;"></div>
    <div class="logo" style="background-position: -768px 0;"></div>
    <div class="logo" style="background-position: -960px 0;"></div>
    <div class="logo" style="background-position: -1152px 0;"></div>
    <div class="logo" style="background-position: -1344px 0;"></div>
    <div class="logo" style="background-position: -1536px 0;"></div>
    <div class="logo" style="background-position: -1728px 0;"></div>
    <div class="logo" style="background-position: -1920px 0;"></div>
    <div class="logo" style="background-position: -2112px 0;"></div>
  </div>


</section>
