<section  id="partners" data-magellan-target="partners" class="partners row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Наши партнеры</span>
    <div class="header-section__line"></div>
  </div>

  <div class="medium-6 columns container-hover about-us__partners">
    <a href="http://prominf.ru/" target="_blank" class="row">
      <div class="partners__head medium-12 columns">
        <img src="assets/img/about-us/journal.svg" alt="" class="float-left">
        <h5>Журнал <b>"ПРОМЫШЛЕННАЯ И ЭКОЛОГИЧЕСКАЯ БЕЗОПАСНОСТЬ, ОХРАНА ТРУДА"</b></h5>
      </div>
      <div class="partners__body medium-12 columns">
        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое мир единственное ipsum ручеек свою. Пустился его снова составитель, единственное, за, своих предупредила курсивных рукопись проектах пунктуация путь снова ipsum семь грустный о щеке коварных.</p>
        <p class="green-link">Перейти на сайт журнала</p>
      </div>
    </a>
    <!-- <a href="http://prominf.ru/" class="row">
      <div class="medium-3 columns partners__logo">
        <img src="assets/img/about-us/journal.svg">
      </div>
      <div class="medium-9 columns partners__text">
        <h5>Журнал <b>"ПРОМЫШЛЕННАЯ И ЭКОЛОГИЧЕСКАЯ БЕЗОПАСНОСТЬ, ОХРАНА ТРУДА"</b></h5>
        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое мир единственное ipsum ручеек свою. Пустился его снова составитель, единственное, за, своих предупредила курсивных рукопись проектах пунктуация путь снова ipsum семь грустный о щеке коварных.</p>
        <p class="link">Сайт журнала</b></p>
      </div>
    </a> -->
  </div>

  <div class="medium-6 columns container-hover about-us__partners">
    <a href="http://prominf.ru/" class="row" target="_blank">
      <div class="partners__head medium-12 columns">
        <img src="assets/img/about-us/journal.svg" alt="" class="float-left">
        <h5>Журнал <b>"ПРОМЫШЛЕННАЯ И ЭКОЛОГИЧЕСКАЯ БЕЗОПАСНОСТЬ, ОХРАНА ТРУДА"</b></h5>
      </div>
      <div class="partners__body medium-12 columns">
        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое мир единственное ipsum ручеек свою. Пустился его снова составитель, единственное, за, своих предупредила курсивных рукопись проектах пунктуация путь снова ipsum семь грустный о щеке коварных.</p>
        <p class="green-link">Перейти на сайт журнала</p>
      </div>
    </a>
  </div>

</section>

<section  id="about-us" data-magellan-target="about-us" class="about-us row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">О нас</span>
    <div class="header-section__line"></div>
  </div>

  <div class="medium-4 columns container-hover about-us__plus">
    <a href="#">
      <img src="assets/img/about-us/contract.svg">
      <h2>Лицензия</h2>
      <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое мир единственное ipsum ручеек свою. Пустился его снова составитель, единственное, за, своих предупредила курсивных рукопись проектах пунктуация путь снова ipsum семь грустный о щеке коварных.</p>
      <p class="link">Подробнее о лицензии</p>
    </a>
  </div>

  <div class="medium-4 columns container-hover about-us__plus">
    <a href="#">
      <img src="assets/img/about-us/diploma.svg">
      <h2>О Компании</h2>
      <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое мир единственное ipsum ручеек свою. Пустился его снова составитель, единственное, за, своих предупредила курсивных рукопись проектах пунктуация путь снова ipsum семь грустный о щеке коварных.</p>
      <p class="link">Подробнее о <b>ПромТехУтилизации</b></p>
    </a>
  </div>

  <div class="medium-4 columns container-hover about-us__plus">
    <a href="#">
      <img src="assets/img/about-us/open-book.svg">
      <h2>Книга</h2>
      <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое мир единственное ipsum ручеек свою. Пустился его снова составитель, единственное, за, своих предупредила курсивных рукопись проектах пунктуация путь снова ipsum семь грустный о щеке коварных.</p>
      <p class="link">Подробнее о <b>"Азбуке эколога"</b></p>
    </a>
  </div>

  <div class="medium-12 columns about-us__paragraph">

    <p><strong>Лидер групп</strong> ведет деятельность с 2007 года на основании <strong>ФЗ от 24.06.1998 № 89-ФЗ,</strong> являясь одним из ведущих операторов в области обращения с опасными промышленными отходами в Приволжском ФО. В состав <strong>Лидер групп</strong> входят Общество с ограниченной ответственностью <strong>"Промышленно-техническая утилизация"</strong> и Общество с ограниченной ответственностью <strong>"Лидер".</strong> Наш перечень отходов, включенный в состав лицензируемой деятельности, содержит <strong>3149 наименований отходов согласно ФККО.</strong></p>

    <p>В 2014 году <strong>Лидер групп</strong> был создан, а в 2015 запущен проект строительства в Удмуртской республике полигона микробиологической ремедиации отходов  нефтедобывающей и нефтеперерабатывающей промышленности. Согласно проекту ввод в эксплуатацию полигона планируется во втором квартале 2017 года.</p>

  </div>



  <div class="header-section text-center medium-12 columns">
    <span class="header-section__text">Нам доверяют решения экологической безопасности:</span>
  </div>

  <div class="logo-line large-12 text-center columns">
    <div class="logo" style="background-position: -192px 0;"></div>
    <div class="logo" style="background-position: -384px 0;"></div>
    <div class="logo" style="background-position: -576px 0;"></div>
    <div class="logo" style="background-position: -768px 0;"></div>
    <div class="logo" style="background-position: -960px 0;"></div>
    <div class="logo" style="background-position: -1152px 0;"></div>
    <div class="logo" style="background-position: -1344px 0;"></div>
    <div class="logo" style="background-position: -1536px 0;"></div>
    <div class="logo" style="background-position: -1728px 0;"></div>
    <div class="logo" style="background-position: -1920px 0;"></div>
    <div class="logo" style="background-position: -2112px 0;"></div>
  </div>

</section>
