<section  id="about-us" data-magellan-target="about-us" class="about-us row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">О нас</span>
    <div class="header-section__line"></div>
  </div>

  <!-- <div class="medium-4 columns container-hover about-us__plus">
    <a href="error.html">
      <img src="assets/img/about-us/contract.svg">
      <h2>Документы</h2>
    </a>
  </div> -->

  <div class="medium-4 columns container-hover about-us__plus">
    <a href="docs.html">
      <img src="assets/img/licenziya.png" class="float-center">
      <h2>Лицензия</h2>
    </a>
  </div>

  <div class="medium-4 columns container-hover about-us__plus">
    <a href="company.html">
      <img src="assets/img/Ustav_eco_PTU.png" class="float-center">
      <h2>О Компании</h2>
    </a>
  </div>

  <div class="medium-4 columns container-hover about-us__plus">
    <a href="eco-book.html">
      <img src="assets/img/Azbuka_eco_PTU.png" class="float-center">
      <h2>"Азбука эколога"</h2>
    </a>
  </div>

  <div class="small-12 columns">
    <p>Утилизация и обезвреживание отходов промышленности занимает основное место в формировании экологии. На предприятиях России ежегодно образуются миллионы тонн опасных токсичных отходов. Большинство промышленных отходов относится к высоко опасным и чрезвычайно опасным отходам</p>
    <p>Успешно решить задачу утилизации отходов невозможно без наличия для этого единого комплексного плана по обращению с отходами. Утилизация отходов - это работа для целого отдела на каждом конкретном отходообразующем предприятии.</p>
    <p>Утилизация отходов предприятия невозможна без помощи <a href="company.html">оператора по обращению с отходами,</a> так как в России критически мала доля промышленных предприятий, обладающих <a href="docs.html">лицензией на утилизацию отхода,</a> парком специального транспорта, аккредитованного для транспортировки опасных отходов, просчитанной и грамотной логистикой для экономии средств на утилизацию отхода, компетентностью в выборе метода утилизации отхода, обезвреживания либо переработки отхода.</p>
    <p>В зависимости от компонентной составляющей отхода, которая в свою очередь определяется при <a href="eco.html">паспортизации отхода,</a> зависит выбор метода утилизации отхода, обезвреживания либо переработки отхода. Также существует огромная масса промышленных отходов, которые не подлежат дальнейшей переработке либо утилизации и согласно действующему законодательству должны проходить процедуру захоронения на специализированных полигонах (Объекты Размещения Отходов).</p>
    <p>Особое внимание при комплексной утилизации отхода должно уделяться сбору отходов и правильной транспортировке. В большинстве случаев вред окружающей среде наносится при несоблюдении правил сбора и транспортировки опасных промышленных отходов. Опасные промышленные отходы 1-4 классов опасности должны собираться в специальные мешки либо контейнеры в зависимости от вида и класса опасности, а транспортировка отходов должна производится специальным транспортом, прошедшим аккредитацию в контролирующих и надзорных органах.</p>
    <p>ПромТехУтилизация - это комплексное и профессиональное обращение с промышленными отходами, грамотная логистика для экономии средств предприятия на транспортировке отходов, более 30 специализированных объектов утилизации отходов, размещения и захоронения по всей России.</p>
    <p>Многолетний опыт работы <a href="company.html">ООО ПромТехУтилизации</a> позволяет оперативно решать любые вопросы по утилизации отходов от <a href="eco.html">паспортизации отхода,</a> безопасного сбора и транспортировки любых видов промышленных отходов до конечной утилизации, обезвреживания либо размещения отхода на ОРО (спец полигоны).</p>
    <p>Более подробную информацию по утилизации отхода, транспортировке отхода, законодательству РФ, регламентирующему обращение с отходами Вы сможете найти в издании <a href="eco-book.html">«Решение главных вопросов экологии»:</a> издание, подготовленное специалистами ПромТехУтилизация для экологов предприятий в котором содержатся все основы утилизации отходов промышленных предприятий.</p>
  </div>

  <!-- <div class="medium-12 columns about-us__paragraph">

    <p><strong>Лидер групп</strong> ведет деятельность с 2007 года на основании <strong>ФЗ от 24.06.1998 № 89-ФЗ,</strong> являясь одним из ведущих операторов в области обращения с опасными промышленными отходами в Приволжском ФО. В состав <strong>Лидер групп</strong> входят Общество с ограниченной ответственностью <strong>"Промышленно-техническая утилизация"</strong> и Общество с ограниченной ответственностью <strong>"Лидер".</strong> Наш перечень отходов, включенный в состав лицензируемой деятельности, содержит <strong>3149 наименований отходов согласно ФККО.</strong></p>

    <p>В 2014 году <strong>Лидер групп</strong> был создан, а в 2015 запущен проект строительства в Удмуртской республике полигона микробиологической ремедиации отходов  нефтедобывающей и нефтеперерабатывающей промышленности. Согласно проекту ввод в эксплуатацию полигона планируется во втором квартале 2017 года.</p>

  </div> -->

</section>
