<section id="clients" class="clients row">

    <div class="text-center medium-12 columns">
      <span class="header-section__text">Нам доверяют решения экологической безопасности:</span>
    </div>

    <div class="gradient medium-12 columns">

      <div class="logo-effect left"></div>
      <div class="logo-effect right"></div>

    </div>

    <div class="logo-line large-12 text-center columns">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип Сарапульский электрогенераторный завод">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип ИРЗ">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип Римера Ижнефтемаш">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип УдмуртГаз">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип Иж Авто">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип Аксион">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логоип Ижводоканал">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип Электронд">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип Милком">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип Сбербанк">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип РЖД">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип Концерн Калашникова">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип НИТИ Прогресс">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип Редуктор">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип DAEWON">
      <img class="logo" src="assets/img/logo_line_c.png" alt="Логотип Роснефть">
    </div>

</section>
