<header id="header-company" class="header row">

  <img class="header-bg" src="assets/img/header/services_bg_neft_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Основные аспекты</span><br>
      <span class="medium-green"> деятельности</span><br>
      <span class="dark-green"> ООО "ПромТехУтилизация"</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">О компании</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>ПромТехУтилизация входит в состав Lider Group. Компания ведет деятельность по обращению с промышленными отходами с 2007 года на основании ФЗ от 24.06.1998 № 89, являясь ведущим оператором в области обращения с опасными промышленными отходами в Приволжском ФО.</p>

    <p>Перечень отходов, включенный в состав <a href="docs.html">лицензируемой деятельности</a> компании, содержит 3149 наименований согласно ФККО.</p>

    <br>
    <p style="padding: 0 12rem;"><b>Lider Group разработан и успешно применяется на практике комплекс мероприятий по обращению с&nbsp;опасными отходами:</b></p>

    <ul style="padding: 0 13rem;">
      <li><b>Первый этап </b>- <a href="eco.html">"Экологическое сопровождение"</a> является приоритетным в работе компании. Данный этап помогает выявить нарушения законодательства при подготовке к утилизации отхода.</li>
      <li><b>Второй этап </b>- "Сбор и подготовка" отходов к их безопасной транспортировке.</li>
      <li><b>Третий этап </b>- "Размещение на специализированных полигонах (ОРО)", где происходит обезвреживание, окончательная утилизация либо переработка.</li>
    </ul>

    <br>

    <p>В 2014 году <a href="company.html">Lider Group</a> был создан, а в 2015 запущен проект строительства в Удмуртской республике полигона микробиологической ремедиации отходов нефтедобывающей и нефтеперерабатывающей промышленности. Согласно проекту, ввод в эксплуатацию полигона планируется во втором квартале 2017 года.</p>
  </div>

  <div class="honors medium-12 columns">
    <a href="assets/img/diploma_2.jpg"><img class="honors__boxy horizontal thumbnail" src="assets/img/diploma_2.jpg" alt=""></a>
    <a href="assets/img/diploma_1.jpg"><img class="honors__boxy thumbnail" src="assets/img/diploma_1.jpg" alt=""></a>
    <a href="assets/img/diploma_3.jpg"><img class="honors__boxy horizontal thumbnail" src="assets/img/diploma_3.jpg" alt=""></a>
  </div>

  <!-- <div class="reveal" id="diploma_1" data-reveal>
    <img src="assets/img/diploma_2.jpg" alt="">
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="reveal" id="diploma_2" data-reveal>
    <img src="assets/img/diploma_1.jpg" alt="">
    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <!-- <div class="company-news medium-12 columns">

  </div> -->

</section>
