<header id="header-company" class="header row">

  <img src="assets/img/header/services_bg_neft_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Основные аспекты</span><br>
      <span class="medium-green"> деятельности</span><br>
      <span class="dark-green"> компании</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">О компании</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>ПромТехУтилизация входит в состав Lider Group. Компания ведет деятельность с 2007 года на основании ФЗ от 24.06.1998 № 89, являясь ведущим оператором в области обращения с опасными промышленными отходами в Приволжском ФО.</p>
    <p>Перечень отходов, включенный в состав лицензируемой деятельности компании, содержит 3149 наименований согласно ФККО.</p>
    <p>Многолетний опыт работы компании показал, что в условиях постоянно меняющегося законодательства в сфере обращения с отходами, экологи предприятий не успевают реагировать на изменения, что влечет за собой нарушения в сфере природоохранного законодательства и как следствие огромные штрафы накладываемые как на отходообразующие предприятие так и на оператора.</p>
    <br>
    <p style="padding: 0 12rem;"><b>Lider Group разработан и успешно применяется на практике комплекс мероприятий по обращению с&nbsp;опасными отходами:</b></p>
    <ul style="padding: 0 13rem;">
      <li><b>Первый этап </b>- "Экологическое сопровождение" является приоритетным в работе компании. Данный этап помогает выявить нарушения законодательства при подготовке к утилизации отхода.</li>
      <li><b>Второй этап </b>- "Сбор и подготовка" отходов к их безопасной транспортировке.</li>
      <li><b>Третий этап </b>- "Размещение на специализированных полигонах (ОРО)", где происходит обезвреживание, окончательная утилизация либо переработка.</li>
    </ul>
    <br>
    <p>В 2014 году Lider Group был создан, а в 2015 запущен проект строительства в Удмуртской республике полигона микробиологической ремедиации отходов нефтедобывающей и нефтеперерабатывающей промышленности. Согласно проекту ввод в эксплуатацию полигона планируется во втором квартале 2017 года.</p>
  </div>

  <div class="honors medium-12 columns">
    <div class="honors__boxy horizontal thumbnail"></div>
    <div class="honors__boxy thumbnail"></div>
    <div class="honors__boxy horizontal thumbnail"></div>
  </div>

  <!-- <div class="company-news medium-12 columns">

  </div> -->

</section>
