<header id="header-company" class="header row">

  <img class="header-bg" src="assets/img/header/services_bg_neft_w1200.jpg" alt="">

  <div class="header__text small-12 columns">
    <h1>
      <span class="light-green">Основные аспекты</span><br>
      <span class="medium-green"> деятельности</span><br>
      <span class="dark-green"> ПромТехУтилизация</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray small-12 columns">
    <span class="header-section__text">О компании</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text small-12 columns">
    <p>ПромТехУтилизация входит в состав Lider Group. Компания ведет деятельность по обращению с промышленными отходами с 2007 года на основании ФЗ от 24.06.1998 № 89, являясь ведущим оператором в области обращения с опасными промышленными отходами в Приволжском ФО.</p>

    <p>Перечень отходов, включенный в состав <a href="docs.html">лицензируемой деятельности</a> компании, содержит 3149 наименований согласно ФККО.</p>

    <br>
    <div class="small-12 large-centered large-8 columns">
      <p><b>Lider Group разработан и успешно применяется на практике комплекс мероприятий по обращению с&nbsp;опасными отходами:</b></p>

      <ul>
        <li><b>Первый этап </b>- <a href="eco.html">"Экологическое сопровождение"</a> является приоритетным в работе компании. Данный этап помогает выявить нарушения законодательства при подготовке к утилизации отхода.</li>
        <li><b>Второй этап </b>- "Сбор и подготовка" отходов к их безопасной транспортировке.</li>
        <li><b>Третий этап </b>- "Размещение на специализированных полигонах (ОРО)", где происходит обезвреживание, окончательная утилизация либо переработка.</li>
      </ul>
    </div>

    <br>
    <br>

    <p>В 2014 году <a href="company.html">Lider Group</a> был создан, а в 2015 запущен проект строительства в Удмуртской республике полигона микробиологической ремедиации отходов нефтедобывающей и нефтеперерабатывающей промышленности. Согласно проекту, ввод в эксплуатацию полигона планируется во втором квартале 2017 года.</p>
  </div>

  <div class="honors small-centered small-10 columns" style="margin-bottom: 4rem;">

    <a href="assets/img/diploma_2.jpg">
      <img class="honors__boxy horizontal thumbnail" src="assets/img/diploma_2.jpg" alt="">
    </a>

    <a href="assets/img/letter_of_thanks/letter_of_thanks.jpg">
      <img class="honors__boxy thumbnail" src="assets/img/letter_of_thanks/letter_of_thanks.jpg" alt="">
    </a>

    <a href="assets/img/diploma_1.jpg">
      <img class="honors__boxy thumbnail" src="assets/img/diploma_1.jpg" alt="">
    </a>

    <a href="assets/img/letter_of_thanks/letter_of_thanks_2.jpg">
      <img class="honors__boxy thumbnail" src="assets/img/letter_of_thanks/letter_of_thanks_2.jpg" alt="">
    </a>

    <a href="assets/img/diploma_3.jpg">
      <img class="honors__boxy horizontal thumbnail" src="assets/img/diploma_3.jpg" alt="">
    </a>

    <a href="assets/img/diploma_4.jpg">
      <img class="honors__boxy thumbnail" src="assets/img/diploma_4.jpg" alt="">
    </a>

  </div>

  <div class="small-12 medium-12 large-6 columns">
    <img src="assets/img/logo-lider.png" alt="" style="height: 101px; padding: 1rem;">
    <div class="light-silver wrapper" style="padding: 1rem;">
      <div class="row">

        <div class="medium-12 columns" style="text-align: justify;">
          <h3>Карта партнера</h3>

          <table style="text-align: left;">
            <tbody>
              <tr>
                <td>Полное наименование</td>
                <td>Общество с ограниченной ответственностью «Лидер»</td>
              </tr>
              <tr>
                <td>Краткое наименование</td>
                <td>ООО «Лидер»</td>
              </tr>
              <tr>
                <td>ИНН</td>
                <td>1828016192</td>
              </tr>
              <tr>
                <td>КПП</td>
                <td>183101001</td>
              </tr>
              <tr>
                <td>ОГРН</td>
                <td>1071828000683</td>
              </tr>
              <tr>
                <td>ОКПО</td>
                <td>81247596</td>
              </tr>
              <tr>
                <td>Юридический адрес</td>
                <td>426011, УР, г. Ижевск, ул. Майская, д.8, оф.39</td>
              </tr>
              <tr>
                <td>Почтовый адрес</td>
                <td>426011, УР, г. Ижевск, ул. Майская,  д.8, оф.39</td>
              </tr>
              <tr>
                <td>Расчетный счет</td>
                <td>40702810710390000058</td>
              </tr>
              <tr>
                <td>БИК</td>
                <td>047308816</td>
              </tr>
              <tr>
                <td>Наименование банка</td>
                <td>Ульяновский филиал ПАО «БИНБАНК»</td>
              </tr>
              <tr>
                <td>Корреспондентский счет</td>
                <td>30101810922027300816</td>
              </tr>
              <tr>
                <td>Приемная</td>
                <td>+7 (3412) 77-66-31</td>
              </tr>
              <tr>
                <td>Бухгалтерия</td>
                <td>+7 (3412) 77-69-05</td>
              </tr>
              <tr>
                <td>Юридический отдел</td>
                <td>+7 (3412) 77-67-25</td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td><a href="mailto:office@lider-group.pro?subject=Тема письма для ООО Лидер">office@lider-group.pro</a></td>
              </tr>
              <tr>
                <td>Сайт</td>
                <td><a href="https://lider-group.pro">https://lider-group.pro</a></td>
              </tr>
              <tr>
                <td>Директор</td>
                <td>Ивонин Артем Владимирович</td>
              </tr>
              <tr>
                <td>Действует на основании</td>
                <td>Устава</td>
              </tr>
            </tbody>
          </table>

          <a href="docs/lider_rekvizit.docx" download class="button expanded" style="margin-bottom: 0;">Скачать карту партнера (Word)</a>
        </div>

      </div>
    </div>
  </div>

  <div class="small-12 medium-12 large-6 columns">
    <img src="assets/img/logo-header.png" alt="" style="padding: 1rem;">
    <div class="light-silver wrapper" style="padding: 1rem;">
      <div class="row">

        <div class="medium-12 columns" style="text-align: justify;">
          <h3>Карта партнера</h3>

          <table style="text-align: left;">
            <tbody>
              <tr>
                <td>Полное наименование</td>
                <td>Общество с ограниченной ответственностью «Промышленно-Техническая Утилизация»</td>
              </tr>
              <tr>
                <td>Краткое наименование</td>
                <td>ООО «ПромТехУтилизация»</td>
              </tr>
              <tr>
                <td>ИНН</td>
                <td>1841040003</td>
              </tr>
              <tr>
                <td>КПП</td>
                <td>183101001</td>
              </tr>
              <tr>
                <td>ОГРН</td>
                <td>1141841001444</td>
              </tr>
              <tr>
                <td>ОКПО</td>
                <td>24518813</td>
              </tr>
              <tr>
                <td>Юридический адрес</td>
                <td>426011, УР, г. Ижевск, ул. Майская,  д.8, оф.39</td>
              </tr>
              <tr>
                <td>Почтовый адрес</td>
                <td>426011, УР, г. Ижевск, ул. Майская,  д.8, оф.39</td>
              </tr>
              <tr>
                <td>Расчетный счет</td>
                <td>40702810810390001520</td>
              </tr>
              <tr>
                <td>БИК</td>
                <td>047308816</td>
              </tr>
              <tr>
                <td>Наименование банка</td>
                <td>Ульяновский филиал ПАО «БИНБАНК»</td>
              </tr>
              <tr>
                <td>Корреспондентский счет</td>
                <td>30101810922027300816</td>
              </tr>
              <tr>
                <td>Приемная</td>
                <td>+7 (3412) 77-66-31</td>
              </tr>
              <tr>
                <td>Бухгалтерия</td>
                <td>+7 (3412) 77-69-05</td>
              </tr>
              <tr>
                <td>Юридический отдел</td>
                <td>+7 (3412) 77-67-25</td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td><a href="mailto:office@lider-group.pro?subject=Тема письма для ООО Лидер">office@lider-group.pro</a></td>
              </tr>
              <tr>
                <td>Сайт</td>
                <td><a href="https://lider-group.pro">https://lider-group.pro</a></td>
              </tr>
              <tr>
                <td>Директор</td>
                <td>Ивонин Артем Владимирович</td>
              </tr>
              <tr>
                <td>Действует на основании</td>
                <td>Устава</td>
              </tr>
            </tbody>
          </table>

          <a href="docs/PTU_rekvizit.docx" download class="button expanded" style="margin-bottom: 0;">Скачать карту партнера (Word)</a>
        </div>

      </div>
    </div>
  </div>

</section>
