<header class="header row">

  <img class="header-bg" src="assets/img/header/services_bg_docs_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Разрешительная</span><br>
      <span class="medium-green"> и юридическая</span><br>
      <span class="dark-green"> документация</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Лицензия</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>В состав Lider Group входит ООО "ПромТехУтилизация" и ООО "Лидер". Для удобства клиентов ООО "ПромТехУтилизация" оказывает услуги по обращению с промышленными отходами с НДС, ООО "Лидер" без НДС (УСНО).</p>
    <p>Согласно ФЗ от 24.06.1998 № 89 каждая компания имеет лицензию на осуществление деятельности по сбору, транспортированию, обработке, утилизации, обезвреживанию, размещению отходов I-V Классов опасности.</p>

    <div class="row" style="padding: 1rem 0;">
      <a data-open="licFace" class="medium-6 columns">
        <img src="assets/img/docs/licenziya_2016_face.jpg" alt="" class="float-center thumbnail">
      </a>
      <a data-open="licBack" class="medium-6 columns">
        <img src="assets/img/docs/licenziya_2016_back.jpg" alt="" class="float-center thumbnail">
      </a>

      <div class="reveal large" id="licFace" data-reveal>
        <img src="assets/img/docs/licenziya_2016_face.jpg" alt="">
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="reveal large" id="licBack" data-reveal>
        <img src="assets/img/docs/licenziya_2016_back.jpg" alt="">
        <button class="close-button" data-close aria-label="Close modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    </div>

  </div>

  <div class="medium-6 columns" style="margin-bottom: 2rem;">
    <img src="assets/img/logo-lider.png" alt="" style="height: 101px; padding: 1rem;">
    <div class="light-silver wrapper" style="padding: 1rem;">
      <div class="row">

        <div class="medium-12 columns" style="text-align: justify;">
          <h3>Карта партнера</h3>

          <table style="text-align: left;">
            <tbody>
              <tr>
                <td>Полное наименование</td>
                <td>Общество с ограниченной ответственностью «Лидер»</td>
              </tr>
              <tr>
                <td>Краткое наименование</td>
                <td>ООО «Лидер»</td>
              </tr>
              <tr>
                <td>ИНН</td>
                <td>1828016192</td>
              </tr>
              <tr>
                <td>КПП</td>
                <td>183201001</td>
              </tr>
              <tr>
                <td>ОГРН</td>
                <td>1071828000683</td>
              </tr>
              <tr>
                <td>ОКПО</td>
                <td>81247596</td>
              </tr>
              <tr>
                <td>Юридический адрес</td>
                <td>426006, УР, г. Ижевск, ул. Баранова, д.28</td>
              </tr>
              <tr>
                <td>Почтовый адрес</td>
                <td>426011, УР, г. Ижевск, ул. Майская,  д.8, оф.39</td>
              </tr>
              <tr>
                <td>Расчетный счет</td>
                <td>40702810710390000058</td>
              </tr>
              <tr>
                <td>БИК</td>
                <td>047308816</td>
              </tr>
              <tr>
                <td>Наименование банка</td>
                <td>Ульяновский филиал ПАО «БИНБАНК»</td>
              </tr>
              <tr>
                <td>Корреспондентский счет</td>
                <td>30101810922027300816</td>
              </tr>
              <tr>
                <td>Номера телефонов</td>
                <td>+7 (3412) 775-604, +7 (982) 838-64-44</td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td><a href="mailto:office@lider-group.pro?subject=Тема письма для ООО Лидер">office@lider-group.pro</a></td>
              </tr>
              <tr>
                <td>Сайт</td>
                <td><a href="https://lider-group.pro">https://lider-group.pro</a></td>
              </tr>
              <tr>
                <td>Директор</td>
                <td>Ивонин Артем Владимирович</td>
              </tr>
              <tr>
                <td>Действует на основании</td>
                <td>Устава</td>
              </tr>
            </tbody>
          </table>

          <a href="docs/lider_rekvizit.docx" download class="button expanded" style="margin-bottom: 0;">Скачать карту партнера (Word)</a>
        </div>

      </div>
    </div>
  </div>

  <div class="medium-6 columns" style="margin-bottom: 2rem;">
    <img src="assets/img/logo-header.png" alt="" style="padding: 1rem;">
    <div class="light-silver wrapper" style="padding: 1rem;">
      <div class="row">

        <div class="medium-12 columns" style="text-align: justify;">
          <h3>Карта партнера</h3>

          <table style="text-align: left;">
            <tbody>
              <tr>
                <td>Полное наименование</td>
                <td>Общество с ограниченной ответственностью «Промышленно-Техническая Утилизация»</td>
              </tr>
              <tr>
                <td>Краткое наименование</td>
                <td>ООО «ПромТехУтилизация»</td>
              </tr>
              <tr>
                <td>ИНН</td>
                <td>1841040003</td>
              </tr>
              <tr>
                <td>КПП</td>
                <td>184101001</td>
              </tr>
              <tr>
                <td>ОГРН</td>
                <td>1141841001444</td>
              </tr>
              <tr>
                <td>ОКПО</td>
                <td>24518813</td>
              </tr>
              <tr>
                <td>Юридический адрес</td>
                <td>426076, УР, г. Ижевск, ул. К. Либкнехта, 19-9</td>
              </tr>
              <tr>
                <td>Почтовый адрес</td>
                <td>426011, УР, г. Ижевск, ул. Майская,  д.8, оф.39</td>
              </tr>
              <tr>
                <td>Расчетный счет</td>
                <td>40702810810390001520</td>
              </tr>
              <tr>
                <td>БИК</td>
                <td>047308816</td>
              </tr>
              <tr>
                <td>Наименование банка</td>
                <td>Ульяновский филиал ПАО «БИНБАНК»</td>
              </tr>
              <tr>
                <td>Корреспондентский счет</td>
                <td>30101810922027300816</td>
              </tr>
              <tr>
                <td>Номера телефонов</td>
                <td>+7 (3412) 775-604, +7 (982) 838-64-44</td>
              </tr>
              <tr>
                <td>E-mail</td>
                <td><a href="mailto:office@lider-group.pro?subject=Тема письма для ООО Лидер">office@lider-group.pro</a></td>
              </tr>
              <tr>
                <td>Сайт</td>
                <td><a href="https://lider-group.pro">https://lider-group.pro</a></td>
              </tr>
              <tr>
                <td>Директор</td>
                <td>Ивонин Артем Владимирович</td>
              </tr>
              <tr>
                <td>Действует на основании</td>
                <td>Устава</td>
              </tr>
            </tbody>
          </table>

          <a href="docs/PTU_rekvizit.docx" download class="button expanded" style="margin-bottom: 0;">Скачать карту партнера (Word)</a>
        </div>

      </div>
    </div>
  </div>

</section>
