<header class="header row">

  <img class="header-bg" src="assets/img/header/services_bg_docs_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Лицензия на утилизацию</span><br>
      <span class="medium-green"> отходов 1-4 класса</span><br>
      <span class="dark-green"> опасности</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Лицензия</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>Лицензия на утилизацию отходов является неотъемлемой частью процесса обращения с промышленными отходами. Иметь лицензию на утилизацию отходов обязаны все компании, деятельность которых тем или иным образом связана с отходами производства.</p>
    <p>В состав <a href="company.html">Lider Group</a> входит ООО "ПромТехУтилизация" и ООО "Лидер". Для удобства клиентов ООО "ПромТехУтилизация" оказывает услуги по обращению с промышленными отходами с НДС, ООО "Лидер" без НДС (УСНО).</p>
    <p>Согласно ФЗ от 24.06.1998 № 89 каждая компания имеет лицензию на осуществление деятельности по сбору, транспортированию, обработке, утилизации, обезвреживанию, размещению отходов 1-4 классов опасности, содержащую 3149 наименований отходов согласно Федеральному классификационному каталогу отходов.</p>

    <div class="row" style="padding: 1rem 0;">

      <div class="medium-6 columns light-silver">

        <h4 style="text-align: center; margin-bottom: 1rem; margin-top: 1rem;">Лицензия ООО "ПромТехУтилизация"</h4>

        <a data-open="licFace2017" class="medium-6 columns">
          <img src="assets/img/docs/licenziya_PTU_2017_face.jpg" alt="" class="float-center thumbnail">
        </a>
        <a data-open="licBack2017" class="medium-6 columns">
          <img src="assets/img/docs/licenziya_PTU_2017_back.jpg" alt="" class="float-center thumbnail">
        </a>

        <div class="reveal medium" id="licFace2017" data-reveal>
          <img src="assets/img/docs/licenziya_PTU_2017_face.jpg" alt="">
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="reveal medium" id="licBack2017" data-reveal>
          <img src="assets/img/docs/licenziya_PTU_2017_back.jpg" alt="">
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>

      <div class="medium-6 columns light-silver">

        <h4 style="text-align: center; margin-bottom: 1rem; margin-top: 1rem;">Лицензия ООО "Лидер"</h4>

        <a data-open="licFace" class="medium-6 columns">
          <img src="assets/img/docs/licenziya_2016_face.jpg" alt="" class="float-center thumbnail">
        </a>
        <a data-open="licBack" class="medium-6 columns">
          <img src="assets/img/docs/licenziya_2016_back.jpg" alt="" class="float-center thumbnail">
        </a>

        <div class="reveal medium" id="licFace" data-reveal>
          <img src="assets/img/docs/licenziya_2016_face.jpg" alt="">
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="reveal medium" id="licBack" data-reveal>
          <img src="assets/img/docs/licenziya_2016_back.jpg" alt="">
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      </div>

    </div>

  </div>

</section>
