<header class="header row">

  <img class="header-bg" src="assets/img/header/services_bg_eco-book_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Экология производства</span><br>
      <span class="medium-green"> Решение главных</span><br>
      <span class="dark-green"> вопросов</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Решение главных вопросов экологии</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>Экология производства неотъемлемая часть работы любого отходообразующего предприятия. Как известно, указом Президента РФ от 05.01.2016.г. № 7, 2017 год объявлен годом экологии. Соответственно, все меры экологической и промышленной безопасности будут максимально усилены, что, в свою очередь, повлечет пристальное внимание к отходообразующим предприятиям со стороны надзорных и контролирующих органов.</p>
    <p><b>"Решение главных вопросов экологии"</b> это ответы на действительно значимые вопросы экологии Производства, актуальность которых многократно возрастет в 2017 году.</p>
    <p>В данном издании в максимально краткой форме изложены основы <a href="eco.html">документооборота отходообразующего предприятия,</a> основы обращения с промышленными отходами, ФЗ № 89, ФЗ № 52, СанПиН 2.1.7.1322-03, КоАП которые помогут Вам избежать нарушений в области природоохранного законодательства.</p>
  </div>

  <div class="medium-6 columns">
    <div class="light-silver wrapper" style="padding: 1rem;">
      <div class="row">
        <div class="medium-4 columns" style="margin-bottom: 1rem ;">
          <img src="assets/img/korec.jpg" alt="" />
        </div>
        <div class="medium-8 columns">
          <h4 class="big-name"><b style="text-transform: uppercase;">Корецкий</b><br><b>Владимир Павлович</b></h4>
          <p>главный редактор журнала<br> <b>«Промышленная и экологическая<br> безопасность, охрана труда»,</b><br> кандидат физико-математических наук</p>
        </div>
        <div class="medium-12 column" style="text-align: justify;">
          <p>Книга «Решения главный вопросов экологии» - это уникальный информационный продукт. За десять лет, в течение которых мы издаем журнал «Промышленная и экологическая безопасность», нам очень редко попадался столь объемный труд в столь оптимальной форме. Когда мне попало в руки первое издание книги, я ознакомил с ней всю нашу редакцию. «Здесь есть все темы, которые мы освещаем и должны освещать в нашем издании. Наше дело искать нюансы для специалистов в соответствии с общей стратегией", - сказал я коллегам.</p>
          <p>На первый взгляд, книга может показаться простой, но это та простота, которая называется гениальной. Здесь сконцентрирована сама суть производственного экологического менеджмента. В ясной форме описаны все функции, которые на предприятии выполняет эколог или экологическая служба. По сути, это азбука промышленной экологии. И даже если Вы обладаете колоссальным практическим опытом и знаниями, книга тоже может стать полезной. Хотя бы для того, чтобы в кратчайшие сроки ввести в курс дела молодого специалиста, который еще вчера был студентом. Да и для Вашего сотрудника, который проработал уже несколько лет, в ней может обнаружится множество сюрпризов.</p>
          <p style="margin: 0;">Спасибо ее авторам, тем более что они занимаются постоянным совершенствованием книги. Это действительно серьезный вклад в продвижение и развитие экологической культуры на предприятиях России.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="medium-6 columns" style="margin-bottom: 2rem;">
    <div class="light-silver wrapper" style="padding: 1rem;">
      <div class="row">
        <div class="medium-4 columns" style="margin-bottom: 1rem;">
          <img src="assets/img/akshanceva.jpg" alt="" />
        </div>
        <div class="medium-8 columns">
          <h4 class="big-name"><b style="text-transform: uppercase;">Акшенцева</b><br> <b>Лейсан Галиахметовна</b></h4>
          <p>директор <br><b>АНО ДПО "Учебно-деловой центр "Специалист"</b></p>
        </div>
        <div class="medium-12 column" style="text-align: justify;">
          <p>Так называемую «Азбуку эколога» - издание «Решения главных вопросов экологии», разработанную специалистами ООО&nbsp;«ПромТехУтилизация», Центр дистанционного обучения «Специалист» активно использует в ходе обучения экологической и промышленной безопасности. Это очень удобное пособие для экологов предприятия, а так же для специалистов, не имеющих профильного образования, на которых возложены данные обязанности. Удобный формат, простая подача материала, отсутствие «текстовой воды» делают это издание действительно рабочим инструментом.</p>
          <p style="margin: 0;">Благодарим ООО «ПромТехУтилизация» за предоставленную возможность в получении приятного бонуса от «практиков» в области утилизации промышленных отходов для наших слушателей.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="medium-6 columns">
    <div class="light-silver wrapper" style="padding: 1rem;">
      <div class="row">
        <div class="medium-12 columns">
          <img src="assets/img/Azbuka_eco_PTU.jpg" alt="" />
        </div>
        <div class="medium-12 columns" style="margin-top: 1rem;">
          <h4><b>Решение главных вопросов экологии</b></h4>
        </div>
        <div class="medium-12 column" style="text-align: justify;">
          <p>Вы можете скачать электронную версию издания "Решение главных вопросов экологии"</p>
          <a class="expanded button" href="buklet_lg.pdf" download>Скачать книгу в электронном формате (.pdf)</a>
          <p>Специалисты компании постоянно отслеживают изменения законодательства в сфере обращения с промышленными отходами. Подпишитесь чтобы своевременно получать обновленные и дополненные издания.</p>

          <form>
            <!-- Hidden Required Fields -->
            <input type="hidden" name="project_name" value="ПромТехУтилизация">
            <input type="hidden" name="admin_email" value="office@lider-group.pro">
            <input type="hidden" name="form_subject" value="Форма подписки">
            <!-- END Hidden Required Fields -->
            <div class="input-group" style="margin: 0;">
              <input class="input-group-field" type="text" name="E-mail" placeholder="Ваш E-mail">
              <div class="input-group-button">
                <input type="submit" class="button" value="Подписаться">
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</section>
