<header id="header-services" class="header row">

  <img class="header-bg" src="assets/img/header/services_bg_eco_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Экологическое</span><br>
      <span class="medium-green"> и документальное</span><br>
      <span class="dark-green"> сопровождение</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Документооборот отходообразующего предприятия</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>Документооборот экологического отдела предприятия по объёму можно сопоставить с бухгалтерией или любым другим отделом с большим документооборотом. Кроме общих и отчетных документов экологический отдел должен постоянно следить за документами, которые отражают обращение с отходами производства и потребления. Это наиболее важное направление работы экологического отдела, т.к. при паспортизации отхода и при разработке ПНООЛР допускается наибольшее число критических ошибок, которые приводят к огромным штрафам и причинению вреда окружающей среде.</p>

    <div class="row">
      <div class="medium-10 medium-centered columns">

        <p><b>Также, в зависимости от направления деятельности предприятия, экологический отдел контролирует документооборот по следующим направлениям:</b></p>
        <ul style="padding-left: 1rem;">
          <li>Охрана атмосферного воздуха</li>
          <li>Использование и охрана поверхностных водных объектов</li>
          <li>Недропользование</li>
          <li>Плата за НВОС, возмещение ущерба, причиненного ОС</li>
          <li>Взаимодействие с органами надзора по вопросам пользования недрами для добычи подземных вод и пользования поверхностными водными объектами для забора (изъятия) водных ресурсов, осуществления выбросов загрязняющих веществ в атмосферный воздух, сбросов сточных вод в поверхностные водные объекты, обращения с отходами, внесения платы за НВОС.</li>
        </ul>

      </div>
    </div>

    <p>Опыт показывает, что все указанные риски, снимаются в том случае, если оператор по обращению с отходами берет на себя экологическое сопровождение отходообразующего предприятия, начиная с паспортизации и определения компонентной составляющей отхода, заканчивая сбором, транспортировкой и конечной утилизацией.</p>
    <p>В рамках данного подхода мы создали отдел «Экологического сопровождения», разработав совместно с ЦДО «Специалист» комплексный аудит документооборота отходообразующего предприятия. Он включает в себя мероприятия от разработки ПНООЛР и паспортизации отхода, до юридического сопровождения при проверках надзорными органами.</p>

    <a href="perechen_documentov.doc" target="_blank" class="button float-center" style="margin-top: 3rem;">Скачать полный перечень документов, которые могут быть затребованы при поведении мероприятий по государственному экологическому надзору</a>

  </div>

  {{> main-form}}

</section>
