<header id="header-services" class="header row">

  <img src="assets/img/header/services_bg_eco_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Экологическое</span><br>
      <span class="medium-green"> и документальное</span><br>
      <span class="dark-green"> сопровождение</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Паспортизация промышленных отходов</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>Согласно законодательству РФ, каждый вид отходов требует отдельного паспорта. Транспортировка и последующая утилизация отходов запрещены без наличия Паспорта опасного отхода. Независимо от вида деятельности такими паспортами должны обладать практически все предприятия. Класс опасности отхода присваивается после исследования в аккредитованной лаборатории на основании компонентного анализа.</p>
    <p>К предприятиям, вывозящим отходы без соответствующих документов, либо с документами, оформленными ненадлежащим образом, уже неоднократно были применены штрафные санкции до 250 тысяч, а в отношение должностных лиц и индивидуальных предпринимателей до 50 тысяч рублей. При этом, надзорные органы вправе приостановить деятельность отходообразующего предприятия на срок до 90 дней.</p>
    <p>Некорректная паспортизация является прямым нарушением ФЗ № 89, ФЗ № 52, СанПиН 2.1.7.1322-03, КоАП. Занижение класса опасности приводит к нарушению технологии утилизации, нанося вред окружающей среде и здоровью людей. При завышении класса опасности отхода, предприятие несет избыточные расходы.</p>
    <p>Наш опыт показывает, что все указанные риски, снимаются в том случае, если оператор по обращению с отходами берет на себя экологическое сопровождение отходообразующего предприятия. Начиная с паспортизации и определения компонентной составляющей отхода, заканчивая сбором, транспортировкой и конечной утилизацией.</p>
    <p>Это позволяет решить проблемы по взаимодействию с надзорными органами, а также утилизировать отход, с применением технологий, соответствующих его классу опасности, а также снять угрозу окружающей среде и здоровью людей. В рамках данного подхода мы создали отдел «Экологического сопровождения», разработав совместно с Центром дистанционного обучения «Специалист» комплексный аудит документооборота отходообразующих предприятий. Он включает в себя мероприятия от разработке проектов по обращению с отходами и паспортизации, до юридического сопровождения при проверках надзорными органами.</p>
  </div>

  <div class="pages-form medium-12 columns">
    <h4 class="text-center">Предварительный расчет стоимости утилизации отхода</h4>
  </div>

  <div class="medium-6 columns">
    <span>Вы можете узнать предворительную стоимость утилизации вашего отхода. Расчет стоимости включает в себя сбор, транспортировку и размещение на ОРО.  </span>
    <br>
    <br>
    <span><b>Для предварительного расчета укажите:</b></span>
    <br>
    <br>
    <ul>
      <li>Место расположения отхода</li>
      <li>Наименование отхода либо номер согласно ФККО</li>
      <li>Адрес электонной почты на который мы отправим предварительный расчет.</li>
    </ul>
  </div>

  <form>
    <div class="mine-form medium-6 light-silver columns">
      <legend>Наличие паспорта на отход</legend>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Есть</label>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Нет</label>
      <label>Место расположения отхода
        <input type="text" placeholder="город">
      </label>
      <label>Наименование отхода
        <input type="text" placeholder="название отхода / номер ФККО">
      </label>
      <label>E-mail
        <input type="text" placeholder="адрес электронной почты">
      </label>
      <button class="button" href="#">Получить предварительный расчет</button>
    </div>
  </form>

</section>
