<header id="header-services" class="header row">

  <img class="header-bg" src="assets/img/header/services_bg_eco_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Паспорт отхода.</span><br>
      <span class="medium-green"> Разработка ПНООЛР. Экологическое</span><br>
      <span class="dark-green"> сопровождение предприятий.</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Документооборот отходообразующего предприятия</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>Документооборот экологического отдела предприятия по объёму можно сопоставить с бухгалтерией или любым другим отделом с большим документооборотом. Кроме общих и отчетных документов экологический отдел должен постоянно следить за документами, которые отражают обращение с отходами производства и потребления. Это наиболее важное направление работы экологического отдела, т.к. при паспортизации отхода и при разработке ПНООЛР допускается наибольшее число критических ошибок, которые приводят к огромным штрафам и причинению вреда окружающей среде.</p>

    <p>Опыт показывает, что все указанные риски, снимаются в том случае, если оператор по обращению с отходами берет на себя экологическое сопровождение отходообразующего предприятия, начиная с паспортизации и определения компонентной составляющей отхода, заканчивая сбором, транспортировкой и конечной утилизацией.</p>

    <div class="row">
      <div class="medium-10 medium-centered columns">

        <p><b>Отдел «Экологического сопровождения» ООО «ПромТехУтилизация» это оперативное решение вопросов, связанных с документооборотом отходообразующего предприятия:</b></p>
        <ul style="padding-left: 1rem;">
          <li>Паспортизация отхода 1-4 классов опасности</li>
          <li>Проекты ПНООЛР, ПВД, СЗЗ, НДС (водный объект)</li>
          <li>Компонентный состав отходов, отбор проб загрязнения атмосферы, хим. анализ воды</li>
          <li>Отчетность МСП, экологический сбор, НВОС и другая статистическая отчетность</li>
          <li>Сопровождение отходообразующих предприятий при проверках надзорными органами</li>
        </ul>

      </div>
    </div>

    <p>Все анализы и заключения разрабатываются в аккредитованной экоаналитической лаборатории оснащенной современной технической базой, а также всем необходимым программным обеспечением.</p>

    <a href="perechen_documentov.doc" target="_blank" class="button float-center" style="margin-top: 3rem;">Скачать полный перечень документов, которые могут быть затребованы при поведении мероприятий по государственному экологическому надзору</a>

  </div>

  {{> main-form}}

</section>
