<footer id="footer" data-magellan-target="footer" class="footer">

  <div class="footer-top">
    <div class="row">
      <div class="footer-top__news medium-7 columns">
        <h3>Новости</h3>
        <ul>
          <li class="light-silver hover-effect">
            <a href="http://prominf.ru/article/azbuka-ekologa">
              <h5><i class="fa fa-bullhorn" aria-hidden="true"></i> Азбука эколога</h5>
              <small>11 Декабря 2016 года</small>
              <p>Вместе с декабрьским номером журнала «Промышленная и экологическая безопасность, охрана труда» Вы получили издание «Решения главных вопросов экологии»...</p>
            </a>
          </li>
          <li class="light-silver hover-effect">
            <a target="_blank" href="http://prominf.ru/article/kak-poluchit-licenziyu-na-obrashchenie-s-othodami-i-iv-klassov-opasnosti">
              <h5><i class="fa fa-bullhorn" aria-hidden="true"></i> Как получить лицензию  на обращение с отходами  I-IV классов опасности?</h5>
              <small>11 Декабря 2016 года</small>
              <p>Государство пытается законодательно регулировать и контролировать правила обращения с экологически опасными веществами и отходоами...</p>
            </a>
          </li>
          <li class="light-silver hover-effect">
            <a target="_blank" href="http://prominf.ru/article/kak-obespechit-ekologicheskuyu-pravovuyu-i-finansovuyu-bezopasnost-pri-obrashchenii-s">
              <h5><i class="fa fa-bullhorn" aria-hidden="true"></i> Как обеспечить экологическую, правовую и финансовую  безопасность при обращении  с опасными отходами?</h5>
              <small>10 Ноября 2016 года</small>
              <p>Согласно законодательству Российской Федерации каждый вид отходов требует отдельного пас-порта, который определяет степень загрязнения...</p>
            </a>
          </li>
        </ul>
      </div>

      <div class="medium-5 columns addres">
        <h3>Контакты</h3>
        <div itemscope itemtype="http://schema.org/Organization">
          <span itemprop="name" style="display: none">ПромТехУтилизация</span>
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <b>Адрес:</b>
            <span class="filled-row">
              <span itemprop="postalCode">426011</span>,
              <span itemprop="addressRegion">Удмуртская Республика</span>
            </span>
            <span class="filled-row">
              г. <span itemprop="addressLocality">Ижевск</span>,
              <span itemprop="streetAddress">ул. Майская, д.8, оф.39</span>
            </span>
          </div>
          <b>Приемная:</b>
          <span itemprop="telephone" class="filled-row">+7 (3412) 77-66-31</span>
          <b>Бухгалтерия:</b>
          <span itemprop="telephone" class="filled-row">+7 (3412) 77-69-05</span>
          <b>E-mail:</b>
          <span itemprop="email" class="filled-row">office@lider-group.pro</span>
        </div>

        <br>

        <!-- <p>Подпишитесь, чтобы получать обновления и новости об изменениях в промышленности по переработке отходов, правил и держать в курсе о нас.</p> -->
        <p>Подпишитесь, чтобы своевременно получать новости и изменения законодательства в сфере обращения с промышленными отходами. </p>


        <form>

          <!-- Hidden Required Fields -->
          <input type="hidden" name="project_name" value="ПромТехУтилизация">
          <input type="hidden" name="admin_email" value="office@lider-group.pro">
          <input type="hidden" name="form_subject" value="Форма подписки">
          <!-- END Hidden Required Fields -->

          <div class="input-group">
            <input class="input-group-field" type="text" name="E-mail" placeholder="Ваш E-mail">
            <div class="input-group-button">
              <input type="submit" class="button" value="Подписаться">
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="row text-center">
      <div class="medium-12">
        <h6><small>Copyright © </small>ПромТехУтилизация 2017  <small>Все права защищены</small></h6>
      </div>
    </div>
  </div>

</footer>
