<footer id="footer" data-magellan-target="footer" class="footer">

  <div class="footer-top">
    <div class="row">
      <div class="footer-top__news medium-4 columns">
        <h3>Новости</h3>
        <ul>
          <li>
            <a href="#">
              <h5><i class="fa fa-bullhorn" aria-hidden="true"></i> Название новости</h5>
              <small>24 Октября 2016</small>
              <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своих, lorem что.</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h5><i class="fa fa-bullhorn" aria-hidden="true"></i> Название новости</h5>
              <small>24 Октября 2016</small>
              <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семантика, эта, напоивший!</p>
            </a>
          </li>
          <li>
            <a href="#">
              <h5><i class="fa fa-bullhorn" aria-hidden="true"></i> Название новости</h5>
              <small>24 Октября 2016</small>
              <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семантика, эта, напоивший!</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-top__links medium-4 columns">
        <h3>Полезное</h3>
          <ul>
            <li>
              <a href="#"><h6>Экологическое сопровождение</h6></a>
            </li>
            <li>
              <a href="#"><h6>Прайс на услуги утилизации</h6></a>
            </li>
            <li>
              <a href="#"><h6>Утилизация нефтесодержащих отходов</h6></a>
            </li>
            <li>
              <a href="#"><h6>Обезвреживание Гальваношламов и химических веществ</h6></a>
            </li>
            <li>
              <a href="#"><h6>Утилизация СОЖ, Растворителей, лкм, мастик и смол</h6></a>
            </li>
            <li>
              <a href="#"><h6>Сбор для последующей утилизации оборудования с содержанием ПХБ</h6></a>
            </li>
            <li>
              <a href="#"><h6>Утилизация ртутьсодержащих и медицинских отходов</h6></a>
            </li>
          </ul>
      </div>
      <div class="medium-4 columns">
        <h3>Контакты</h3>
        <p>
          <b>Адрес: </b>426011, УР, г. Ижевск, ул. Майская, <br>д.8, оф.39
          <br>
          <b>Телефон: </b>+7 (922) 523-50-44
          <br>
          <b>E-mail: </b>office@lider-group.pro
        </p>

        <br>

        <p>Подпишитесь, чтобы получать обновления и новости об изменениях в промышленности по переработке отходов, правил и держать в курсе о нас.</p>

        <br>

        <form action="#">
          <div class="input-group">
            <input class="input-group-field" type="text" placeholder="Ваш E-mail">
            <div class="input-group-button">
              <input type="submit" class="button" value="Подписаться">
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="row text-center">
      <div class="medium-12">
        <h6><small>Copyright </small>© ПромТехУтилизация 2016  <small>Все права защищены</small></h6>
      </div>
    </div>
  </div>

</footer>
