<footer id="footer" data-magellan-target="footer" class="footer">

  <div class="footer-top">
    <div class="row">
      <div class="footer-top__news medium-7 columns">
        <h3>Новости</h3>
        <ul>
          <li class="light-silver hover-effect">
            <a href="#">
              <h5><i class="fa fa-bullhorn" aria-hidden="true"></i> ПромТехУтилизация приняла участие в Татарском нефтегазохимическом форуме</h5>
              <small>12 Сентября 2016 года</small>
              <p>В Республике Татарстан с 7 по 9 сентября прошел Татарский нефтегазохимический форум, посвященный 100-летию со дня рождения В.Д. Шашина.</p>
            </a>
          </li>
          <li class="light-silver hover-effect">
            <a href="#">
              <h5><i class="fa fa-bullhorn" aria-hidden="true"></i> В Общественную Палату РФ поступило свыше 70 жалоб на экологические нарушения</h5>
              <small>22 Августа 2016 года</small>
              <p>За первый месяц работы горячей линии «Экомониторинг» в ОП РФ поступило свыше 70 звонков и сообщений из различных регионов. Чаще всего люди жалуются на свалки (более трети позвонивших), вырубки деревьев и захват прибрежных рекреационных зон.</p>
            </a>
          </li>
          <li class="light-silver hover-effect">
            <a href="#">
              <h5><i class="fa fa-bullhorn" aria-hidden="true"></i> Перенос сроков постановки на учет объектов, оказывающих негативное воздействие на окружающую среду</h5>
              <small>1 Августа 2016 года</small>
              <p>В целях исключения негативных последствий для хозяйствующих субъектов, предлагается внести изменения в пункт 3 статьи 11 Закона № 219-ФЗ и увеличить...</p>
            </a>
          </li>
        </ul>
      </div>
      <!-- <div class="footer-top__links medium-4 columns">
        <h3>Полезное</h3>
          <ul>
            <li class="light-green hover-effect">
              <a href="#"><h6>Экологическое сопровождение</h6></a>
            </li>
            <li class="light-green hover-effect">
              <a href="#"><h6>Прайс на услуги утилизации</h6></a>
            </li>
            <li class="light-green hover-effect">
              <a href="#"><h6>Утилизация нефтесодержащих отходов</h6></a>
            </li>
            <li class="light-green hover-effect">
              <a href="#"><h6>Обезвреживание Гальваношламов и химических веществ</h6></a>
            </li>
            <li class="light-green hover-effect">
              <a href="#"><h6>Утилизация СОЖ, Растворителей, лкм, мастик и смол</h6></a>
            </li>
            <li class="light-green hover-effect">
              <a href="#"><h6>Сбор для последующей утилизации оборудования с содержанием ПХБ</h6></a>
            </li>
            <li class="light-green hover-effect">
              <a href="#"><h6>Утилизация ртутьсодержащих и медицинских отходов</h6></a>
            </li>
          </ul>
      </div> -->
      <div class="medium-5 columns addres">
        <h3>Контакты</h3>
        <p><b>Адрес:</b></p>
        <span class="filled-row">426011, Удмуртская Республика</span>
        <span class="filled-row">г. Ижевск, ул. Майская, д.8, оф.39</span>
        <p><b>Приемная:</b></p>
        <span class="filled-row">+7 (3412) 77-56-04</span>
        <p><b>Отдел размещения промышленных отходов:</b></p>
        <span class="filled-row">+7 (922) 523-50-44</span>
        <p><b>E-mail:</b></p>
        <span class="filled-row">office@lider-group.pro</span>

        <br>

        <p>Подпишитесь, чтобы получать обновления и новости об изменениях в промышленности по переработке отходов, правил и держать в курсе о нас.</p>


        <form action="#">
          <div class="input-group">
            <input class="input-group-field" type="text" placeholder="Ваш E-mail">
            <div class="input-group-button">
              <input type="submit" class="button medium-gray hover-effect" value="Подписаться">
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="row text-center">
      <div class="medium-12">
        <h6><small>Copyright © </small>ПромТехУтилизация 2016  <small>Все права защищены</small></h6>
      </div>
    </div>
  </div>

</footer>
