<header id="header" data-magellan-target="header" class="header row">

  <img data-interchange="[assets/img/header/hero_bg_neft_w640.jpg, small], [assets/img/header/hero_bg_neft_w1024.jpg, medium], [assets/img/header/hero_bg_neft_w1200.jpg, large]">

  <div class="header__text medium-6 columns">
    <h1>
      <span class="light-green">Утилизация</span><br>
      <span class="medium-green">промышленных</span><br>
      <span class="dark-green">отходов</span>
    </h1>
    <br>
    <span>по Приволжскому Федеральному Округу</span>
  </div>

  <div class="medium-6 columns">
    <canvas width="600" height="450" id="tagAir">
      <ul>
        <li><a style="font-size: 3em">Ижевск</a></li>
        <li><a style="font-size: 3em">Казань</a></li>
        <li><a style="font-size: 3em">Уфа</a></li>
        <li><a style="font-size: 3em">Пермь</a></li>
        <li><a>Водкинск</a></li>
        <li><a>Ижевск</a></li>
        <li><a>Ижевск</a></li>
        <li><a>Ижевск</a></li>
        <li><a>Ижевск</a></li>
        <li><a>Ижевск</a></li>
      </ul>
    </canvas>
  </div>

</header>
