<header>

  <div class="large-12 columns">

    <div class="top-bar">

      <div class="top-bar-title">
        <img src="assets/img/logo-header.png" alt="Логотип ПромТехУтилизация">
      </div>

      <nav class="top-bar-right">

        <ul class="menu">

          <li class="text-center">
            <a href="#" class="light-green hover-effect">
              <i class="fa fa-recycle" aria-hidden="true"></i>
              <span>Услуги</span>
            </a>
          </li>

          <li class="text-center">
            <a href="#" class="medium-green hover-effect">
              <i class="fa fa-bullhorn" aria-hidden="true"></i>
              <span>Новости</span>
            </a>
          </li>

          <li class="text-center">
            <a href="#" class="dark-green hover-effect">
              <i class="fa fa-industry" aria-hidden="true"></i>
              <span>О нас</span>
            </a>
          </li>

          <li class="text-center">
            <a href="#" class="medium-gray hover-effect">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>Контакты</span>
            </a>
          </li>

        </ul>

      </nav>

    </div>

  </div>

</header>
