<div class="header">
	<div class="row">
		<div class="large-6 columns">
		<div class="logo">
			<div class="logo__img">
				<img src="assets/img/logo-header.png" alt="Логотип ПромТехУтилизация" />
			</div>
		</div>
		</div>
		<div class="large-6 columns">
			<ul class="buttons float-right">
				<li class="button">
					<a href="#services"><i class="fa fa-recycle" aria-hidden="true"></i>Услуги</a>
				</li>
				<li class="button">
					<a href="#news" class="green"><i class="fa fa-bullhorn" aria-hidden="true"></i>Новости</a>
				</li>
				<li class="button">
					<a href="#adout-us" class="dark"><i class="fa fa-industry" aria-hidden="true"></i>О нас</a>
				</li>
				<li class="button">
					<a href="#contacts" class="gray"><i class="fa fa-phone" aria-hidden="true"></i>Контакты</a>
				</li>
			</ul>
		</div>
	</div>
</div>
