<header id="header-services" class="header row">

  <img src="assets/img/header/services_bg_him_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Обезвреживание</span><br>
      <span class="medium-green"> гальваношламов</span><br>
      <span class="dark-green"> и химических веществ</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">ГАЛЬВАНОШЛАМЫ И ХИМ. ОТХОДЫ</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>Гальваношламы возникают в электрохимических производствах, связанных с нанесением металлизованных покрытий. Эти технологии востребованы в полиграфии и машиностроении при нанесении покрытий хрома, цинка, никеля, кадмия, эмалировании и других малярных процессах.</p>
    <p>В основе утилизации и обезвреживания отходов химической промышленности лежит переработка отходов без нанесения какого-либо вреда атмосфере. Обезвреживание и утилизация хим. отходов достигается за счет процессов, которые позволяют кристаллизовать и растворять перерабатываемые смеси и суспензии.</p>
    <p>Из-за множества видов химической продукции невозможно выделить один альтернативный способ утилизации химических отходов. Поэтому существует 6 способов: нейтрализация, хлорирование с окислением, алкоголиз, термический способ, биологический, дистилляция.</p>
  </div>

  <div class="pages-price medium-12 columns">
    <h4 class="text-center">Гальваношламы и хим. вещества</h4>
    <table>
      <thead>
        <tr>
          <th>Вид отхода</th>
          <th width="120" class="text-center">ед. изм.</th>
          <th width="120" class="text-center">Цена, руб.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Гальванические шламы</td>
          <td class="text-center">т</td>
          <td class="text-center">от 11 500</td>
        </tr>
        <tr>
          <td>Отходы кислот, щелочей, концентратов</td>
          <td class="text-center">кг</td>
          <td class="text-center">от 86</td>
        </tr>
        <tr>
          <td>Отходы органических кислот</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
        </tr>
        <tr>
          <td>Отходы неорганических кислот</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
        </tr>
        <tr>
          <td>Кислоты аккумуляторные, отработанные</td>
          <td class="text-center">т</td>
          <td class="text-center">от 19 800</td>
        </tr>
        <tr>
          <td>Отходы химического происхождения</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
        </tr>
        <tr>
          <td>Отходы оксидов, гидроксидов,солей</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
        </tr>
        <tr>
          <td>Отходы солей свинца</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
        </tr>
        <tr>
          <td>Отходы щелочей и их смесей</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
        </tr>
      </tbody>
    </table>
    <br>
    <span>*Цены на услуги формируются в соответствии с законодательством РФ, а также индивидуально, в зависимости от объемов и территориального расположения отхода.</span>
    <br>
    <br>

  </div>

{{> main-form}}

</section>
