<div class="icons row">

  <div class="icon-block medium-4 columns">
    <div class="icon">
      <img src="assets/img/icons_block_1.png" alt="">
    </div>
    <div class="icon-text">
      <h2>Паспортизация отходов</h2>
    </div>
  </div>

  <div class="icon-block medium-4 columns">
    <div class="icon">
      <img src="assets/img/icons_block_2.png" alt="">
    </div>
    <div class="icon-text">
      <h2>Транспортировка и&nbsp;сбор</h2>
    </div>
  </div>

  <div class="icon-block medium-4 columns">
    <div class="icon">
      <img src="assets/img/icons_block_3.png" alt="">
    </div>
    <div class="icon-text">
      <h2>Размещение на&nbsp;спец.&nbsp;полигонах</h2>
    </div>
  </div>

</div>
