<div class="icons row">

  <div class="icon-block small-12 medium-4 large-4 columns">
    <div class="icon">
      <img src="assets/img/icons_block_1.png" alt="">
    </div>
    <div class="icon-text">
      <h2>Паспортизация отходов, Разработка ПНООЛР</h2>
    </div>
  </div>

  <div class="icon-block small-12 medium-4 large-4 columns">
    <div class="icon">
      <img src="assets/img/icons_block_2.png" alt="">
    </div>
    <div class="icon-text">
      <h2>Транспортировка и&nbsp;сбор</h2>
    </div>
  </div>

  <div class="icon-block small-12 medium-4 large-4 columns">
    <div class="icon">
      <img src="assets/img/icons_block_3.png" alt="">
    </div>
    <div class="icon-text">
      <h2>Утилизация и&nbsp;обезвреживание</h2>
    </div>
  </div>

</div>
