<header id="header-services" class="header row">

  <img class="header-bg" src="assets/img/header/services_bg_med_w1200.jpg">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Утилизация</span><br>
      <span class="medium-green"> ртутных ламп</span><br>
      <span class="dark-green"> и медицинских отходов</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">РТУТЬ И МЕДИЦИНСКИЕ ОТХОДЫ</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>Утилизация и обезвреживание ртутьсодержащих отходов на сегодняшний день занимает ведущие позиции в программе сохранения мировой экологии. Нет такой отрасли, в которой не используется ртуть. Будучи веществом 1 класса опасности (чрезвычайно опасные отходы), ртуть является тиоловым ядом, чрезвычайно опасным химическим веществом не только для человека, но и для всех живых существ. Обезвреживание ртутьсодержащих отходов осуществляется, в соответствии с законодательством РФ, а также обязательным соблюдением всех методов и правил, установленных экологическими и санитарно-эпидемиологическими организациями. Законодательством РФ установлено, что утилизация ртутьсодержащих отходов не может производиться путём захоронения.</p>
    <p>Медицинские отходы образуются в процессе ведения деятельности медицинских и фармацевтических учреждений. Медицинские отходы это предметы, контактировавшие с биологическими жидкостями человека и инфекционными больными, остатки лекарственных и дезинфицирующих средств, обломки ртутьсодержащего и радиоактивного оборудования.</p>
  </div>

  <div class="pages-price medium-12 columns">
    <h4 class="text-center">Ртутьсодержащие и медицинские отходы</h4>
    <table>
      <thead>
        <tr>
          <th>Вид отхода</th>
          <th width="120" class="text-center">ед. изм.</th>
          <th width="120" class="text-center">Цена, руб.</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Ртутные лампы, люминесцентные ртутьсодержащие трубки отработанные и брак</td>
          <td class="text-center">шт</td>
          <td class="text-center">от 15,50</td>
        </tr>

        <tr>
          <td>Изделия, устройства, приборы, потерявшие потребительские свойства, содержащие ртуть</td>
          <td class="text-center">шт</td>
          <td class="text-center">от 300</td>
        </tr>

        <tr>
          <td>Ртутные вентили (игнитроны и иное) отработанные и брак</td>
          <td class="text-center">шт</td>
          <td class="text-center">от 300</td>
        </tr>

        <tr>
          <td>Ртутные термометры отработанные и брак</td>
          <td class="text-center">шт</td>
          <td class="text-center">от 40</td>
        </tr>

        <tr>
          <td>Медицинские отходы класса А, Б, В, Г, Д</td>
          <td class="text-center">кг</td>
          <td class="text-center">от 200</td>
        </tr>

      </tbody>
    </table>
    </table>
    <br>
    <span>*Цены на услуги формируются в соответствии с законодательством РФ, а также индивидуально, в зависимости от объемов и территориального расположения отхода.</span>
    <br>
    <br>

  </div>

  {{> main-form}}

</section>
