<nav id="top-bar" data-magellan-target="top-bar" class="top-bar row" data-threshold="0" data-magellan>

    <div class="top-bar_logo small-12 medium-6 large-6 float-left">
      <a href="index.html"><img src="assets/img/logo-header.png" alt="Логотип ПромТехУтилизация"></a>
    </div>

    <div class="small-12 medium-6 large-6 float-right">
      <ul class="menu float-right">

        <li>
          <div class="top-bar__button light-green text-center">
          </div>
        </li><!--

     --><li class="text-center">
          <div class="top-bar__button medium-green">
          </div>
        </li><!--

     --><li class="text-center">
          <a href="index.html" class="top-bar__button dark-green hover-effect">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span>Главная</span>
          </a>
        </li><!--

     --><li class="text-center">
          <a href="#footer" class="top-bar__button medium-gray hover-effect">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>Контакты</span>
          </a>
        </li>

      </ul>
    </div>

</nav>
