<nav id="top-bar" data-magellan-target="top-bar" class="top-bar row" data-threshold="0" data-magellan>

    <div class="top-bar_logo small-12 medium-6 large-6 float-left">
      <img src="assets/img/logo-header.png" alt="Логотип ПромТехУтилизация">
    </div>

    <div class="small-12 medium-6 large-6 float-right">
      <ul class="menu float-right">

        <li>
          <a href="#about-us" class="top-bar__button light-green text-center hover-effect">
            <i class="fa fa-address-card-o" aria-hidden="true"></i>
            <span>О нас</span>
          </a>
        </li><!--

     --><li class="text-center">
          <a href="#services" class="top-bar__button medium-green hover-effect">
            <i class="fa fa-recycle" aria-hidden="true"></i>
            <span>Услуги</span>
          </a>
        </li><!--

     --><li class="text-center">
          <a href="news.html" class="top-bar__button dark-green hover-effect">
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
            <span>Новости</span>
          </a>
        </li><!--

     --><li class="text-center">
          <a href="#footer" class="top-bar__button medium-gray hover-effect">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>Контакты</span>
          </a>
        </li>

      </ul>
    </div>

</nav>
