<header id="header-services" class="header row">

  <img class="header-bg" src="assets/img/header/services_bg_neft_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Утилизация нефтешламов</span><br>
      <span class="medium-green"> разливы нефти</span><br>
      <span class="dark-green"> зачистка резервуаров</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Нефтешламы</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>Состав и физические свойства отходов нефтедобывающей и нефтеперерабатывающей промышленности (нефтешламы), могут варьироваться в зависимости от источника. Важным объединяющим фактором является то, что все нефтешламы содержат как воду, так и твёрдые примеси крупной и мелкой фракции. Нефтешламы могут стать опасными для жизни людей и окружающей среды. Несоблюдение правил при добыче, неправильная утилизация нефтяных отходов, слив жидкостей в почву и водоемы являются прямым нарушением законодательства.</p>
    <p>При попадании в окружающую среду нефтесодержащие отходы охватывают огромные площади, заражая их токсичными веществами. Именно поэтому утилизация и обезвреживание нефтешламов должны проводиться своевременно в строгом соответствии с правилами сбора и транспортировки.</p>
    <p>В 2014 году Лидер групп был создан, а в 2015 запущен проект строительства в Удмуртской республике полигона микробиологической ремедиации отходов нефтедобывающей и нефтеперерабатывающей промышленности. Согласно проекту, ввод в эксплуатацию полигона планируется во втором квартале 2017 года.</p>
  </div>

  <div class="pages-price medium-12 columns">
    <h4 class="text-center">Нефтесодержащие отходы</h4>
    <table>
      <thead>
        <tr>
          <th>Вид отхода</th>
          <th width="120" class="text-center">ед. изм.</th>
          <th width="120" class="text-center">Цена, руб.</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Шламы нефти и нефтепродуктов</td>
          <td class="text-center">т</td>
          <td class="text-center">от 9 971</td>
        </tr>

        <tr>
          <td>Буровые шламы и растворы</td>
          <td class="text-center">т</td>
          <td class="text-center">от 10 266</td>
        </tr>

        <tr>
          <td>Остатки рафинирования нефтепродуктов</td>
          <td class="text-center">т</td>
          <td class="text-center">---</td>
        </tr>

        <tr>
          <td><b>Шлам очистки трубопроводов и емкостей (бочек, контейнеров, цистерн, гудронаторов) от нефти и нефтепродуктов</b></td>
          <td class="text-center">т</td>
          <td class="text-center">от 10 856</td>
        </tr>

        <tr>
          <td>Отходы переработки нефти, угля, газа, горючих сланцев и торфа</td>
          <td class="text-center">т</td>
          <td class="text-center">от 10 856</td>
        </tr>

        <tr>
          <td>Шлам нефтеотделительных установок</td>
          <td class="text-center">т</td>
          <td class="text-center">от 9 971</td>
        </tr>

        <tr>
          <td>Шламы минеральных масел</td>
          <td class="text-center">т</td>
          <td class="text-center">от 9 971</td>
        </tr>

        <tr>
          <td>Обтирочный материал, загрязненный нефтепродуктами</td>
          <td class="text-center">т</td>
          <td class="text-center">от 6 254</td>
        </tr>

        <tr>
          <td>Грунт загрязненный нефтепродуктами</td>
          <td class="text-center">т</td>
          <td class="text-center">от 7 788</td>
        </tr>

      </tbody>
    </table>
    <br>
    <span>*Цены на услуги формируются в соответствии с законодательством РФ, а также индивидуально, в зависимости от объемов и территориального расположения отхода.</span>
    <br>
    <br>

  </div>

  {{> main-form}}

</section>
