<header id="header-services" class="header row">

  <img data-interchange="[assets/img/header/hero_bg_neft_w640.jpg, small], [assets/img/header/hero_bg_neft_w1024.jpg, medium], [assets/img/header/hero_bg_neft_w1200.jpg, large]">

  <div class="header__text small-12 medium-6 large-6 columns">
    <h1>
      <span class="light-green">Утилизация</span><br>
      <span class="medium-green"> нефтесодержащих</span><br>
      <span class="dark-green"> отходов</span>
    </h1>
  </div>

  <div class="header__callback small-12 medium-6 large-6 columns">

    <div class="header__header-form clearfix">

      <div class="header-form__button float-left">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span>Обратный звонок</span>
      </div>

      <a href="#" class="header-form__button light-green hover-effect">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <span>Форма заявки</span>
      </a>

    </div>

    <form>
      <div class="log-in-form">
        <div class="input-group">
          <span class="input-group-label"><i class="fa fa-user" aria-hidden="true"></i></span>
          <input class="input-group-field" type="text" placeholder="Иван Иванов">
        </div>
        <div class="input-group">
          <span class="input-group-label"><i class="fa fa-phone" aria-hidden="true"></i></span>
          <input class="input-group-field" type="text" placeholder="+7 (919) 555-55-55">
        </div>
        <input id="show-password" type="checkbox"><label for="show-password">Срочно перезвонить</label>
        <a type="submit" class="button expanded light-green hover-effect">Отправить</a>
      </div>
    </form>

  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Нефтешламы</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>Состав и физические свойства отходов нефтедобывающей и нефтеперерабатывающей промышленности (нефтешламы), могут варьироваться в зависимости от источника. Важным объединяющим фактором является то, что все нефтешламы содержат как воду, так и твёрдые примеси крупной и мелкой фракции. Нефтешламы могут стать опасными для жизни людей и окружающей среды. Несоблюдение правил при добыче, неправильная утилизация нефтяных отходов, слив жидкостей в почву и водоемы являются прямым нарушением законодательства.</p>
    <p>При попадании в окружающую среду нефтесодержащие отходы охватывают огромные площади, заражая их токсичными веществами. Именно поэтому утилизация и обезвреживание нефтешламов должны проводиться своевременно в строгом соответствии с правилами сбора и транспортировки.</p>
    <p>В 2014 году Лидер групп был создан, а в 2015 запущен проект строительства в Удмуртской республике полигона микробиологической ремедиации отходов нефтедобывающей и нефтеперерабатывающей промышленности. Согласно проекту, ввод в эксплуатацию полигона планируется во втором квартале 2017 года.</p>
  </div>

  <div class="pages-price medium-12 columns">
    <h4 class="text-center">Нефтесодержащие отходы</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Вид отхода</th>
          <th width="120">ед. изм.</th>
          <th width="120">Цена, руб.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Нефтешламы</td>
          <td>т</td>
          <td>от 7 500</td>
        </tr>
        <tr>
          <td>Шламы зачистки емкостей</td>
          <td>т</td>
          <td>от 4 000</td>
        </tr>
        <tr>
          <td>Буровые растворы</td>
          <td>т</td>
          <td>от 5 200</td>
        </tr>
        <tr>
          <td>Грунт загрязненный нефтепродуктами</td>
          <td>т</td>
          <td>от 4 500</td>
        </tr>
      </tbody>
    </table>
    <br>
    <span>*Цены на услуги формируются в соответствии с законодательством РФ, а также индивидуально, в зависимости от объемов и территориального расположения отхода.</span>
    <br>
    <br>
    <span>Отправьте список отходов образующихся на Вашем предприятии. В течении 3-х рабочих дней мы сформируем коммерческое предложение с указанием цены, сроков и условий оказания услуг.</span>
    <br>
    <br>

  </div>

  <div class="pages-form medium-12 columns">
    <h4 class="text-center">Предварительный расчет стоимости утилизации отхода</h4>
  </div>
  <div class="medium-6 columns">
    <span>Вы можете узнать предворительную стоимость утилизации вашего отхода. Расчет стоимости включает в себя сбор, транспортировку и размещение на ОРО.  </span>
    <br>
    <br>
    <span><b>Для предварительного расчета укажите:</b></span>
    <br>
    <br>
    <ul>
      <li>Место расположения отхода</li>
      <li>Наименование отхода либо номер согласно ФККО</li>
      <li>Адрес электонной почты на который мы отправим предварительный расчет.</li>
    </ul>
  </div>

  <form>
    <div class="mine-form medium-6 light-silver columns">
      <legend>Наличие паспорта на отход</legend>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Есть</label>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Нет</label>
      <label>Место расположения отхода
        <input type="text" placeholder="город">
      </label>
      <label>Наименование отхода
        <input type="text" placeholder="название отхода / номер ФККО">
      </label>
      <label>E-mail
        <input type="text" placeholder="адрес электронной почты">
      </label>
      <button class="button" href="#">Получить предварительный расчет</button>
    </div>
  </form>

</section>
