<header id="header-services" class="header row">

  <img class="header-bg" src="assets/img/header/services_bg_neft_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Зачистка резервуаров</span><br>
      <span class="medium-green"> Утилизация нефтешламов</span><br>
      <span class="dark-green"> и буровых растворов</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Нефтешламы</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <style>
      .neft-gutter li {
        margin-left: 1rem;
      }
    </style>
    <p>Зачистка резервуаров, утилизация нефтешламов, буровых растворов, - главный вопрос нефтедобывающей и нефтеперерабатывающей промышленности. Второй по значимости вопрос при зачистке резервуаров и утилизации нефтешламов – это выбор компании, которой доверить зачистку и последующую утилизацию нефтешлама. Самым главным условием выбора является наличие <a href="docs.html">лицензии на утилизацию нефтешламов,</a> а также допуски работников компании к обращению с опасными промышленными отходами и наличие подготовки по пожарной и взрывобезопасности.</p>
    <br>
    <p><b>Своевременная и технически грамотная зачистка резервуаров и утилизация нефтешлама это главные условия, которые формируют:</b></p>
    <ul class="neft-gutter">
      <li>Качество продукта, который хранится в резервуаре</li>
      <li>Экологическая и пожарная безопасность, взрывобезопасность резервуара</li>
      <li>Срок эксплуатации резервуара</li>
    </ul>
    <p>Зачистка резервуаров нефтяной промышленности регламентируется ГОСТ 1510-84 «Нефть и нефтепродукты. Маркировка, упаковка, транспорт и хранение».</p>
    <br>
    <p><b>Согласно ГОСТ 1510 зачистка резервуаров для хранения нефтесодержащих продуктов должна проводится:</b></p>
    <ul class="neft-gutter">
      <li>Для полного обследования резервуара не реже одного раза в 10 лет</li>
      <li>Для частичного обследования резервуара не реже раза в 5 лет</li>
      <li>Резервуары для хранение авиационного, прямогонного бензина, реактивного топлива 2 раза в год</li>
      <li>Резервуары для хранение смазочного масла и присадок на основе нефти раз в год</li>
      <li>Резервуары для хранения автомобильного бензина и дизельного топлива раз в 2 года</li>
    </ul>
    <br>
    <p><b>Зачистка резервуаров происходит в несколько этапов с обязательным соблюдением последовательности действий:</b></p>
    <ul class="neft-gutter">
      <li>Демонтаж электрооборудования и частичный демонтаж резервуара</li>
      <li>Полная изоляция резервуара от поступления продуктов (трубопроводы)</li>
      <li>Удаление нефтешлама из резервуара</li>
      <li>Полная дегазация резервуара</li>
      <li>Внутренняя очистка резервуара</li>
      <li>Полное удаление донных отложений</li>
      <li>Оценка качества зачистки и технического состояния резервуара</li>
      <li>Утилизация нефтешламов и других отходов зачистки резервуара</li>
    </ul>
    <p>Утилизация, обезвреживание, сбор и транспортировка нефтешламов должны проводиться своевременно в строгом соответствии с правилами обращения с опасными отходами, та как при попадании в окружающую среду нефтешламы и буровые растворы охватывают огромные площади, заражая их токсичными веществами. Неправильная утилизация нефтешламов и буровых растворов, слив нефтешламов в почву и водоемы являются прямым нарушением законодательства РФ.</p>
    <p>В 2014 году <a href="company.html">Lider-group</a> был создан, а в 2015 запущен проект строительства в Удмуртской республике полигона микробиологической ремедиации нефтешламов. Согласно проекту, ввод в эксплуатацию полигона планируется в начале 2018 года.</p>
  </div>

  <div class="pages-price medium-12 columns">
    <h4 class="text-center">Нефтесодержащие отходы</h4>
    <table>
      <thead>
        <tr>
          <th>Вид отхода</th>
          <th width="120" class="text-center">ед. изм.</th>
          <th width="120" class="text-center">Цена, руб.</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Шламы нефти и нефтепродуктов</td>
          <td class="text-center">т</td>
          <td class="text-center">от 9 971</td>
        </tr>

        <tr>
          <td>Буровые шламы и растворы</td>
          <td class="text-center">т</td>
          <td class="text-center">от 10 266</td>
        </tr>

        <tr>
          <td>Остатки рафинирования нефтепродуктов</td>
          <td class="text-center">т</td>
          <td class="text-center">---</td>
        </tr>

        <tr>
          <td><b>Шлам очистки трубопроводов и емкостей (бочек, контейнеров, цистерн, гудронаторов) от нефти и нефтепродуктов</b></td>
          <td class="text-center">т</td>
          <td class="text-center">от 10 856</td>
        </tr>

        <tr>
          <td>Отходы переработки нефти, угля, газа, горючих сланцев и торфа</td>
          <td class="text-center">т</td>
          <td class="text-center">от 10 856</td>
        </tr>

        <tr>
          <td>Шлам нефтеотделительных установок</td>
          <td class="text-center">т</td>
          <td class="text-center">от 9 971</td>
        </tr>

        <tr>
          <td>Шламы минеральных масел</td>
          <td class="text-center">т</td>
          <td class="text-center">от 9 971</td>
        </tr>

        <tr>
          <td>Обтирочный материал, загрязненный нефтепродуктами</td>
          <td class="text-center">т</td>
          <td class="text-center">от 6 254</td>
        </tr>

        <tr>
          <td>Грунт загрязненный нефтепродуктами</td>
          <td class="text-center">т</td>
          <td class="text-center">от 7 788</td>
        </tr>

      </tbody>
    </table>
    <br>
    <span>*Цены на услуги формируются в соответствии с законодательством РФ, а также индивидуально, в зависимости от объемов и территориального расположения отхода.</span>
    <br>
    <br>

  </div>

  {{> main-form}}

</section>
