<section  id="news" data-magellan-target="news" class="news row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Новости экологии</span>
    <div class="header-section__line"></div>
  </div>

  <h2 class="services__main-text medium-12 columns">В разделе «Новости экологии» ежедневно обновляется лента новостей по вопросам промышленной и экологической безопасности, изменений в законодательстве и т.д.</h2>

  <div class="large-12 columns zero-column">

    <div class="news-grid row">

      <a href="news2.html" target="_blank" class="news-grid-item small-12 medium-6 large-4">

        <div class="news-grid-item__header horizontal">
          <img src="assets\img\news\2\IMG_7675-min.jpg" alt="" class="img-h-news">
          <div class="header-h-news">
            <h5>Участие на ежегодной выставке «Нефть и Газ. Химия – 2016»</h5>
            <p>11 октября 2016 г. на площадке выставочного центра «Пермская ярмарка» стартовала 18-я ежегодная выставка «Нефть и Газ. Химия – 2016». В мероприятии участвовали 100 производственных компаний из России, а также представители бизнеса из Германии, Австрии и Великобритании.</p>
            <div class="w-gradient"></div>
          </div>
          <div class="news-link">
            <span>Читать продолжение </span> <i class="fa fa-paperclip" aria-hidden="true"></i>
          </div>
        </div>

      </a>

      <a href="news1.html" target="_blank" class="news-grid-item small-12 medium-6 large-4">

        <div class="news-grid-item__header horizontal">
          <img src="assets/img/news/1/utilizaciya-othodov.jpg" alt="" class="img-h-news">
          <div class="header-h-news">
            <h5>ПромТехУтилизация приняла участие в Татарском нефтегазохимическом форуме.</h5>
            <p>В Республике Татарстан с 7 по 9 сентября прошел Татарский нефтегазохимический форум, посвященный 100-летию со дня рождения В.Д. Шашина.</p>
            <div class="w-gradient"></div>
          </div>
          <div class="news-link">
            <span>Читать продолжение </span> <i class="fa fa-paperclip" aria-hidden="true"></i>
          </div>
        </div>

      </a>

      <a href="http://www.ecoindustry.ru/news/view/48085.html" target="_blank" class="news-grid-item small-12 medium-6 large-4">

        <div class="news-grid-item__header horizontal">
          <img src="assets\img\news\op_eco.png" alt="" class="img-h-news">
          <div class="header-h-news">
            <h5>В Общественную Палату РФ поступило свыше 70 жалоб на экологические нарушения.</h5>
            <p>За первый месяц работы горячей линии «Экомониторинг» в ОП РФ поступило свыше 70 звонков и сообщений из различных регионов. Чаще всего люди жалуются на свалки (более трети позвонивших), вырубки деревьев и захват прибрежных рекреационных зон.</p>
            <div class="w-gradient"></div>
          </div>
          <div class="news-link">
            <span>Открыть в источнике </span> <i class="fa fa-link" aria-hidden="true"></i>
          </div>
        </div>

      </a>

      <a href="http://www.ecoindustry.ru/news/view/47875.html" target="_blank" class="news-grid-item small-12 medium-6 large-4">

        <div class="news-grid-item__header horizontal">
          <img src="assets\img\news\eco_gos.jpg" alt="" class="img-h-news">
          <div class="header-h-news">
            <h5>Перенос сроков постановки на учет объектов, оказывающих негативное воздействие на окружающую среду.</h5>
            <p>В целях исключения негативных последствий для хозяйствующих субъектов, предлагается внести изменения в пункт 3 статьи 11 Закона № 219-ФЗ и увеличить срок постановки на государственный учет объектов, оказывающих негативное воздействие на окружающую среду, с двух до трех лет.</p>
            <div class="w-gradient"></div>
          </div>
          <div class="news-link">
            <span>Открыть в источнике </span> <i class="fa fa-link" aria-hidden="true"></i>
          </div>
        </div>

      </a>

      <a href="http://www.ecotech-expo.ru/ecotech/press/detail_news.php?ELEMENT_ID=44191" target="_blank" class="news-grid-item small-12 medium-6 large-4">

        <div class="news-grid-item__header horizontal">
          <img src="assets\img\news\eco_next.jpg" alt="" class="img-h-news">
          <div class="header-h-news">
            <h5>Экологическое развитие России в интересах будущих поколений</h5>
            <p>Заместитель министра природных ресурсов и экологии РФ Мурад Керимов принял участие в первом заседании рабочей группы Государственного совета РФ в рамках Петербургского международного экономического форума.</p>
            <div class="w-gradient"></div>
          </div>
          <div class="news-link">
            <span>Открыть в источнике </span> <i class="fa fa-link" aria-hidden="true"></i>
          </div>
        </div>

      </a>

      <a href="http://kremlin.ru/events/president/news/51142" target="_blank" class="news-grid-item small-12 medium-6 large-4">

        <div class="news-grid-item__header horizontal">
          <img src="assets\img\news\putin_eco_2017.png" alt="" class="img-h-news">
          <div class="header-h-news">
            <h5>Подписан Указ о проведении Года экологии в 2017 году</h5>
            <p>В целях привлечения внимания общества к вопросам экологического развития Российской Федерации, сохранения биологического разнообразия и обеспечения экологической безопасности постановляю:</p>
            <div class="w-gradient"></div>
          </div>
          <div class="news-link">
            <span>Открыть в источнике </span> <i class="fa fa-link" aria-hidden="true"></i>
          </div>
        </div>

      </a>

      <div class="news-grid-sizer small-12 medium-6 large-4"></div>

    </div>

  </div>

</section>
