<section class="news row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Новости ПромТехУтилизации</span>
    <div class="header-section__line"></div>
  </div>

  <div class="news-pages small-12 columns">

    <h1>ПромТехУтилизация приняла участие в Татарском нефтегазохимическом форуме.</h1>

    <p>В Республике Татарстан с 7 по 9 сентября прошел Татарский нефтегазохимический форум, посвященный 100-летию со дня рождения В.Д. Шашина.</p>

    <p>Форум является одним из самых значимых и масштабных отраслевых мероприятий России, участниками которого ежегодно становятся крупные нефтяные компании РФ. В ключевых мероприятиях деловой программы форума приняли участие президент Республики Татарстан Рустам Минниханов, руководители отраслевых министерств и ведомств, а также ученые с мировым именем из Европы, Азии и Америки.</p>

    <p>В форуме принимали участие 216 предприятий из России, Азербайджана, Германии, Китая, Польши, Австрии, Индонезии, которые представили продукцию 25 стран мира. Экспозиция выставки разместилась в выставочном центре «Казанская ярмарка» и составляла более 3000 кв.м.</p>

    <p>На международной специализированной выставке «Экология и оборудование XXI века» проходящей в рамках Татарского нефтегазохимического форума наша компания представила свою экспозицию. Ключевой целью посещения данного мероприятия являлась презентация издания «Решение главных вопросов экологии», которое как показал форум, является ценным и уникальным продуктом для экологов отходообразующих предприятий. Данное издание вызвало интерес не только у участников выставки, но и у отраслевых министерств и надзорных органов. Было принято решение разработать вторую редакцию издания совместно с «Центр гигиены и эпидемиологии в Удмуртской Республике», презентация которого состоится в октябре этого года на 18-й межрегиональной выставке «Нефть. Газ. Химия 2016» в городе Пермь.</p>

  </div>

  <div class="news-galery small-12 columns">

    <a href="assets/img/news/1/promtehutilizaciya-izhevsk.jpg" class="">
      <img src="assets/img/news/1/promtehutilizaciya-izhevsk.jpg" alt="">
    </a>

    <a href="assets/img/news/1/promtehutilizaciya-kazan-dogovor.jpg" class="">
      <img src="assets/img/news/1/promtehutilizaciya-kazan-dogovor.jpg" alt="">
    </a>

    <a href="assets/img/news/1/promtehutilizaciya-kniga.jpg" class="">
      <img src="assets/img/news/1/promtehutilizaciya-kniga.jpg" alt="">
    </a>

    <a href="assets/img/news/1/promtehutilizaciya-msk-2016.jpg" class="">
      <img src="assets/img/news/1/promtehutilizaciya-msk-2016.jpg" alt="">
    </a>

    <a href="assets/img/news/1/promtehutilizaciya-tatneft-burenie.jpg" class="">
      <img src="assets/img/news/1/promtehutilizaciya-tatneft-burenie.jpg" alt="">
    </a>

    <a href="assets/img/news/1/promtehutilizaciya-tatneft.jpg" class="">
      <img src="assets/img/news/1/promtehutilizaciya-tatneft.jpg" alt="">
    </a>

    <a href="assets/img/news/1/promtehutilizaciya2016.jpg" class="">
      <img src="assets/img/news/1/promtehutilizaciya2016.jpg" alt="">
    </a>

    <a href="assets/img/news/1/sibir-promtexutilizaciya.jpg" class="">
      <img src="assets/img/news/1/sibir-promtexutilizaciya.jpg" alt="">
    </a>

    <a href="assets/img/news/1/tatneft-promtexutilizaciya.jpg" class="">
      <img src="assets/img/news/1/tatneft-promtexutilizaciya.jpg" alt="">
    </a>

    <a href="assets/img/news/1/utilizaciya-neft.jpg" class="">
      <img src="assets/img/news/1/utilizaciya-neft.jpg" alt="">
    </a>

    <a href="assets/img/news/1/utilizaciya-othodov.jpg" class="">
      <img src="assets/img/news/1/utilizaciya-othodov.jpg" alt="">
    </a>

    <a href="assets/img/news/1/vistavka-kazan-utilizaciya.jpg" class="">
      <img src="assets/img/news/1/vistavka-kazan-utilizaciya.jpg" alt="">
    </a>

    <a href="assets/img/news/1/vistavka-promtexutilizaciya.jpg" class="">
      <img src="assets/img/news/1/vistavka-promtexutilizaciya.jpg" alt="">
    </a>

  </div>

</section>
