<section class="news row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Новости ПромТехУтилизации</span>
    <div class="header-section__line"></div>
  </div>

  <div class="news-pages small-12 columns">

    <h1>Участие в ежегодной выставке «Нефть. Газ. Химия 2016»</h1>

    <p>11 октября 2016 г. на площадке выставочного центра «Пермская ярмарка» стартовала 18-я ежегодная выставка «Нефть. Газ. Химия 2016». В мероприятии участвовали 100 производственных компаний из России, а также представители бизнеса из Германии, Австрии и Великобритании. Участники презентовали в Перми технологии и оборудование для геологии, разработки, добычи и переработки нефти и газа.</p>

    <p>Ежегодно познакомиться с новинками отрасли приезжают около трёх тысяч специалистов нефтегазовой сферы. За 18 лет работы выставка «Нефть. Газ. Химия» превратилась из регионального проекта в крупную бизнес-площадку в масштабах страны.</p>

    <p>В рамках выставки "ПромТехУтилизация" презентовала обновленное издание для экологов предприятий "Решение главных вопросов экологии". Данная редакция дополнена основными положениями ФЗ № 52 "О санитарно-эпидемиологическом благополучии населения", а также СанПиН 2.1.7.1322-03 "Гигиенические требования к размещению и обезвреживанию отходов производства и потребления".</p>

  </div>

  <div class="news-galery small-12 columns">

    <a href="assets/img/news/2/IMG_7647-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7647-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7648-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7648-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7655-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7655-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7658-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7658-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7660-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7660-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7664-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7664-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7666-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7666-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7667-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7667-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7668-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7668-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7671-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7671-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7675-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7675-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7677-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7677-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7681-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7681-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7684-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7684-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7685-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7685-min.jpg" alt="">
    </a>

    <a href="assets/img/news/2/IMG_7686-min.jpg" class="">
      <img src="assets/img/news/2/IMG_7686-min.jpg" alt="">
    </a>

  </div>

</section>
