<section  id="news" data-magellan-target="news" class="news row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Новости</span>
    <div class="header-section__line"></div>
  </div>

  <h2 class="services__main-text medium-12 columns">В разделе «Экологические новости» ежедневно пополняется и обновляется лента новостей по вопросам экологии производства и промышленной экологии, пополняемая, в том числе, пользователями нашего портала.</h2>

  <div class="large-12 columns zero-column">

    <div class="news-grid row">

      <div id="neft" class="grid-item small-12 medium-6 large-4">

      </div>

      <div id="him" class="grid-item small-12 medium-6 x-large-4 large-4">

      </div>

      <div id="sozh" class="grid-item small-12 medium-6 large-4">

      </div>

      <div id="phb" class="grid-item small-12 medium-6 large-4">

      </div>

      <div id="med" class="grid-item small-12 medium-6 large-4">

      </div>

      <div id="linked" class="grid-item small-12 medium-6 large-4">

      </div>

      <div id="linked" class="grid-item small-12 medium-6 large-4">

      </div>

      <div id="price" class="grid-item small-12 medium-6 large-8">

      </div>

      <div id="linked" class="grid-item small-12 medium-6 large-4">

      </div>

      <div id="#" class="grid-item small-12 medium-6 large-8">

      </div>

      <div class="grid-sizer small-12 medium-6 large-4"></div>

    </div>

  </div>

</section>
