<section id="partners" class="partners row">

  <!-- Заголовок -->
  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Наши партнеры</span>
    <div class="header-section__line"></div>
  </div>
  <!-- /Заголовок -->
  <div class="partners-row medium-12 columns">

    <!-- Блок партнера "Специалист" -->
    <div href="http://prominf.ru/" target="_blank" class="partner-block">

      <div class="partner-block__head">
        <img src="assets/img/about-us/journal.svg" alt="" class="head__logo">
        <h5 class="head__title">Журнал <b>"Промышленная и экологическая безопасность, охрана труда"</b></h5>
      </div>

      <div class="partner-block__content text-center">
        <p>Журнал <b>"Промышленная и&nbsp;экологическая безопасность, охрана труда" </b>издается с&nbsp;2006 года при информационной поддержке региональных управлений Ростехнадзора и&nbsp;Росприроднадзора, Инспекций труда. Распространяется среди предприятий реального сектора экономики, по&nbsp;подписке на&nbsp;всей территории Российской Федерации. Основные эксперты журнала - это представители надзорных органов и&nbsp;предприятия, владеющие наилучшими практиками в&nbsp;области промышленной безопасности, охраны труда, экологии и&nbsp;охраны окружающей среды, в&nbsp;том числе и&nbsp;в&nbsp;области обращения с&nbsp;отходами.</p>
        <p><b>Совместно с&nbsp;компанией "Промтехутилизация" журнал "Промышленная и&nbsp;экологическая безопасность, охрана труда" реализует ряд информационных проектов:</b></p>

        <ul>
          <li><b>совместная работа над&nbsp;изданием "Решение главных вопросов экологии"</b> для&nbsp;экологов предприятий и&nbsp;организаций;</li>
          <li><b>ведение экспертной рубрики </b>в&nbsp;журнале "Промышленная и&nbsp;экологическая безопасность, охрана труда" и&nbsp;на&nbsp;сайте издательства, посвященной вопросам обращения с&nbsp;промышленными отходами.</li>
        </ul>

        <p>Цели данных проектов - продвижение экологической культуры, культуры обращения с&nbsp;отходами среди предприятий и&nbsp;организаций Российской Федерации, снижение существующих рисков. </p>
        <a class="button light-green hover-effect" href="http://prominf.ru/" target="_blank">Посетить сайт журнала</a>

        <div class="expand">
          <button>
            <span>Раскрыть</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </div>
    <!-- /Блок партнера "Специалист" -->

    <!-- Блок партнера "Журнал" -->
    <div href="http://obrazovanie18.ru/" target="_blank" class="partner-block">

      <div class="partner-block__head">
        <img src="assets/img/about-us/specialist.svg" alt="" class="head__logo">
        <h5 class="head__title">Центр дистанционного обучения <b>«Специалист»</b></h5>
      </div>

      <div class="partner-block__content text-center">
        <p>Центр дистанционного обучения <b>"Специалист" </b>результативно работает на&nbsp;рынке образовательных услуг России уже более 5 лет в&nbsp;сфере охраны труда, пожарной, экологической, радиационной и&nbsp;промышленной, а&nbsp;также транспортной безопасности и&nbsp;безопасности дорожного движения.</p>
        <p>Более 200 образовательных программ для&nbsp;повышения квалификации, профессиональной переподготовке специалистов и&nbsp;обучению рабочим профессиям.</p>
        <p>Бонусы для Заказчиков в&nbsp;виде готовых пакетов шаблонов документов. Вебинары и&nbsp;консультации ведущих экспертов России. <b>ЦДО «Специалист» </b>- комплексное решение по&nbsp;обучению персонала и консалтингу.</p>
        <p><b>Совместно с&nbsp;компанией "Промтехутилизация" Центр дистанционного обучения «Специалист» реализует ряд информационных проектов:</b></p>
        <ul>
          <li><b>Совместная работа над&nbsp;изданием "Решение главных вопросов экологии"</b></li>
          <li>Использование издания "Решение главных вопросов экологии" <b>в&nbsp;формировании обучающих программ по&nbsp;экологической и&nbsp;промышленной безопасности.</b></li>
          <li><b>Комплексное экологическое сопровождение</b> отходообразующих предприятий</li>
        </ul>
        <a class="button light-green hover-effect" href="http://obrazovanie18.ru/" target="_blank">Посетить сайт ЦДО&nbsp;"Специалист"</a>

        <div class="expand">
          <button>
            <span>Раскрыть</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </button>
        </div>

      </div>

    </div>
    <!-- /Блок партнера "Журнал" -->
  </div>

</section>
