<section id="partners" class="partners row">

  <!-- Заголовок -->
  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Наши партнеры</span>
    <div class="header-section__line"></div>
  </div>
  <!-- /Заголовок -->
  <div class="partners-row medium-12 columns">
    <!-- Блок партнера "Журнал" -->
    <a class="partner-block">

      <div class="partner-block__head">
        <img src="assets/img/about-us/journal.svg" alt="" class="head__logo">
        <h5 class="head__title">Журнал <b>"Промышленная и экологическая безопасность, охрана труда"</b></h5>
      </div>

      <div class="partner-block__content text-center">
        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое мир единственное ipsum ручеек свою. Пустился его снова составитель, единственное, за, своих предупредила курсивных рукопись проектах пунктуация путь снова ipsum семь грустный о щеке коварных. Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Продолжил возвращайся решила путь подпоясал она, пунктуация заманивший правилами жаренные коварных вершину текста. Речью текст наш пустился буквоград вопроса эта.</p>
        <span>Перейти на сайт партнера</span>
      </div>

    </a>
    <!-- /Блок партнера "Журнал" -->

    <!-- Блок партнера "Специалист" -->
    <a class="partner-block">

      <div class="partner-block__head">
        <img src="assets/img/about-us/journal.svg" alt="" class="head__logo">
        <h5 class="head__title">Журнал <b>"Промышленная и экологическая безопасность, охрана труда"</b></h5>
      </div>

      <div class="partner-block__content text-center">
        <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которое мир единственное ipsum ручеек свою. Пустился его снова составитель, единственное, за, своих предупредила курсивных рукопись проектах пунктуация путь снова ipsum семь грустный о щеке коварных.</p>
        <span>Перейти на сайт партнера</span>
      </div>

    </a>
    <!-- /Блок партнера "Специалист" -->
  </div>

</section>
