<section id="partners" class="partners row">

  <!-- Заголовок -->
  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Наши партнеры</span>
    <div class="header-section__line"></div>
  </div>
  <!-- /Заголовок -->

  <div class="partner_block medium-4 small-12 columns">
    <div class="pre_logo">
      <img src="assets/img/about-us/journal.svg" alt="ПРОМЫШЛЕННАЯ И ЭКОЛОГИЧЕСКАЯ БЕЗОПАСНОСТЬ, ОХРАНА ТРУДА">
    </div>
    <div class="content">
      <h5>Журнал "ПРОМЫШЛЕННАЯ И ЭКОЛОГИЧЕСКАЯ БЕЗОПАСНОСТЬ, ОХРАНА ТРУДА"</h5>
      <a href="partners.html" class="button light-green hover-effect">Страница партнера</a>
    </div>
  </div>

  <div class="partner_block medium-4 small-12 columns">
    <div class="pre_logo">
      <img src="assets/img/about-us/specialist.svg" alt="Центр дистанционного обучения «СПЕЦИАЛИСТ»">
    </div>
    <div class="content">
      <h5>Центр дистанционного обучения «СПЕЦИАЛИСТ»</h5>
      <a href="partners.html" class="button light-green hover-effect">Страница партнера</a>
    </div>
  </div>

  <div class="partner_block medium-4 small-12 columns">
    <div class="pre_logo">
      <img src="assets/img/about-us/logo_eco-bez.png" alt="">
      <h5>«ЭКОБЕЗОПАСНОСТЬ»</h5>
    </div>
    <div class="content">
      <h5>Комплексное экологическое сопровождение «ЭКОБЕЗОПАСНОСТЬ»</h5>
      <a href="partners.html" class="button light-green hover-effect">Страница партнера</a>
    </div>
  </div>

</section>
