<header id="header-services" class="header row">

  <img class="header-bg" src="assets/img/header/services_bg_neft_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Партнеры</span>
    </h1>
  </div>

</header>

<section class="row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Партнеры ООО "ПромТехУтилизация"</span>
    <div class="header-section__line"></div>
  </div>

  <div class="partner small-12 medium-12 large-10 large-offset-1 columns">

    <div class="row">

      <div class="small-12 medium-4 columns">
        <div class="row">

          <div class="logo-partner small-12 columns">
            <img src="assets/img/about-us/journal.svg" alt="">
          </div>

          <div class="logo-header small-12 columns">
            <h5>Журнал "ПРОМЫШЛЕННАЯ И&nbsp;ЭКОЛОГИЧЕСКАЯ БЕЗОПАСНОСТЬ, ОХРАНА ТРУДА"</h5>
          </div>

        </div>
      </div>

      <div class="partner-content small-12 medium-8 columns">

        <p><a href="http://prominf.ru/">Журнал <b>"Промышленная и&nbsp;экологическая безопасность, охрана труда"</b></a> издается с&nbsp;2006 года при информационной поддержке региональных управлений Ростехнадзора и&nbsp;Росприроднадзора, Инспекций труда. Распространяется среди предприятий реального сектора экономики, по&nbsp;подписке на&nbsp;всей территории Российской Федерации. Основные эксперты журнала - это представители надзорных органов и&nbsp;предприятия, владеющие наилучшими практиками в&nbsp;области промышленной безопасности, охраны труда, экологии и&nbsp;охраны окружающей среды, в&nbsp;том числе и&nbsp;в&nbsp;области обращения с&nbsp;отходами.</p>
        <p><b>Совместно с&nbsp;компанией "Промтехутилизация" журнал "Промышленная и&nbsp;экологическая безопасность, охрана труда" реализует ряд информационных проектов:</b></p>
        <ul>
          <li><b>совместная работа над&nbsp;изданием <a href="eco-book.html"><b>"Решение главных вопросов экологии"</b></a></b> для&nbsp;экологов предприятий и&nbsp;организаций;</li>
          <li><a href="http://prominf.ru/issue/19622/586"><b>ведение экспертной рубрики "Экология" </b></a>в&nbsp;журнале "Промышленная и&nbsp;экологическая безопасность, охрана труда" и&nbsp;на&nbsp;сайте издательства, посвященной вопросам обращения с&nbsp;промышленными отходами.</li>
        </ul>
        <p>Цели данных проектов - продвижение экологической культуры, культуры обращения с&nbsp;отходами среди предприятий и&nbsp;организаций Российской Федерации, снижение существующих рисков. </p>
      </div>

    </div>

  </div>

  <div class="partner small-12 medium-12 large-10 large-offset-1 columns">

    <div class="row">

      <div class="small-12 medium-4 columns">
        <div class="row">

          <div class="logo-partner small-12 columns">
            <img src="assets/img/about-us/specialist.svg" alt="">
          </div>

          <div class="logo-header small-12 columns">
            <h5>Центр дистанционного обучения «СПЕЦИАЛИСТ»</h5>
          </div>

        </div>
      </div>

      <div class="partner-content small-12 medium-8 columns">
        <p><a href="http://obrazovanie18.ru/">Центр дистанционного обучения <b>"Специалист" </b></a>результативно работает на&nbsp;рынке образовательных услуг России уже более 5 лет в&nbsp;сфере охраны труда, пожарной, экологической, радиационной и&nbsp;промышленной, а&nbsp;также транспортной безопасности и&nbsp;безопасности дорожного движения.</p>
        <p>Более 200 образовательных программ для&nbsp;повышения квалификации, профессиональной переподготовке специалистов и&nbsp;обучению рабочим профессиям.</p>
        <p>Бонусы для Заказчиков в&nbsp;виде готовых пакетов шаблонов документов. Вебинары и&nbsp;консультации ведущих экспертов России. <b>ЦДО «Специалист» </b>- комплексное решение по&nbsp;обучению персонала и консалтингу.</p>
        <p><b>Совместно с&nbsp;компанией "Промтехутилизация" Центр дистанционного обучения «Специалист» реализует ряд информационных проектов:</b></p>
        <ul>
          <li><b>Совместная работа над&nbsp;изданием <a href="eco-book.html"><b>"Решение главных вопросов экологии"</b></a></b></li>
          <li>Использование издания "Решение главных вопросов экологии" <b>в&nbsp;формировании <a href="http://obrazovanie18.ru/ekologicheskaya-bezopasnost"><b>обучающих программ по&nbsp;экологической и&nbsp;промышленной безопасности.</b></a></b></li>
          <li><a href="eco.html"><b>Комплексное экологическое сопровождение</b></a> отходообразующих предприятий</li>
        </ul>

      </div>
    </div>
  </div>

  <div class="partner small-12 medium-12 large-10 large-offset-1 columns end">

    <div class="row">

      <div class="small-12 medium-4 columns">
        <div class="row">

          <div class="logo-partner small-12 columns">
            <img src="assets/img/about-us/logo_eco-bez.png" alt="" class="float-center">
          </div>

          <div class="logo-header small-12 columns">
            <h5>Комплексное экологическое сопровождение «ЭКОБЕЗОПАСНОСТЬ»</h5>
          </div>

        </div>
      </div>

      <div class="partner-content small-12 medium-8 columns">

        <p><b><a href="http://ekobez.com/"><b>ООО «Экобезопасность»</b></a> это полный комплекс услуг в области экологической безопасности:</b></p>

        <ul>
          <li>Проекты ПНООЛР, ПВД, СЗЗ, паспортизация отхода 1-4 классов опасности</li>
          <li>Отбор проб загрязнения атмосферы, хим. анализ воды, компонентный состав отходов</li>
          <li>Отчетность МСП, экологический сбор, НВОС и другая статистическая отчетность.</li>
          <li>Сопровождение отходообразующих предприятий при проверках надзорными органами</li>
          <li>Экологический аутсорсинг</li>
          <li>Профессиональная подготовка в области обращения с опасными отходами</li>
        </ul>

        <p>Многолетний опыт работы компании, высококвалифицированные специалисты, наличие необходимого программного обеспечения, современная аккредитованная экоаналитическая лаборатория – гарантия оперативного решения вопросов промышленного природопользования всех уровней.</p>

        <p><b>Совместно с компанией "ПромТехУтилизация" ООО «Экобезопасность» реализует ряд проектов:</b></p>

        <p><a href="eco.html">Комплексное экологическое сопровождение</a> отходообразующих предприятий Использование <a href="eco-book.html">издания "Решение главных вопросов экологии"</a> в формировании обучающих программ по экологической и промышленной безопасности.</p>

      </div>

    </div>

  </div>



</section>
