<header id="header-services" class="header row">

  <img data-interchange="[assets/img/header/hero_bg_neft_w640.jpg, small], [assets/img/header/hero_bg_neft_w1024.jpg, medium], [assets/img/header/hero_bg_neft_w1200.jpg, large]">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Сбор для последующей</span><br>
      <span class="medium-green"> утилизации оборудования</span><br>
      <span class="dark-green"> с содержанием ПХБ</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">ПХБ</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>Полихлорированные бифенилы (ПХБ) одно из 23-х стойких органических загрязнителей (СОЗ), влияние которых на окружающую среду и здоровье человека вызывает особую озабоченность. ПХБ обладают свойствами, характерными для СОЗ, а именно: токсичностью, способностью длительное время сохраняться в окружающей среде, накапливаться в тканях живых организмов и переноситься на большие расстояния. ПХБ являются мощными факторами подавления иммунитета («химический» СПИД). Кроме того, поступление ПХБ в организм провоцирует развитие рака, поражений печени, почек, нервной системы, кожи.</p>
    <p>ПХБ использовались как диэлектрические жидкости (трансформаторы и конденсаторы), также как теплоносители, смазки, стабилизирующие добавки в гибких ПВХ покрытиях электрических проводов и электронных компонентов, как присадки к пестицидам, ингибиторы пламени, гидравлические жидкости, замазки, клеи, мастики, краски, противопылевые вещества, в беззольной бумаге.</p>
    <p>В соответствии с действующим законодательством Российской Федерации трансформаторные масла содержащие ПХБ относятся к первому классу опасности (чрезвычайно опасные), при размещении которых баланс экологической системы необратимо нарушается, а период восстановления отсутствует.</p>
  </div>

  <div class="pages-price medium-12 columns">
    <h4 class="text-center">Оборудование с содержанием ПХБ</h4>
    <table>
      <thead>
        <tr>
          <th>Вид отхода</th>
          <th width="120" class="text-center">ед. изм.</th>
          <th width="120" class="text-center">Цена, руб.</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Трансформаторы с пентохлордифенилом отработанные</td>
          <td class="text-center">кг</td>
          <td class="text-center">от 138</td>
        </tr>

        <tr>
          <td>Конденсаторы с трихлордифенилом отработанные</td>
          <td class="text-center">кг</td>
          <td class="text-center">от 138</td>
        </tr>

        <tr>
          <td>Конденсаторы с пентохлордифенилом отработанные</td>
          <td class="text-center">кг</td>
          <td class="text-center">от 138</td>
        </tr>

        <tr>
          <td>Масла трансформаторные отработанные, содержащие полихлорированные дифенилы и терфенилы</td>
          <td class="text-center">кг</td>
          <td class="text-center">от 138</td>
        </tr>

        <tr>
          <td>Прочие масла, содержащие полихлорированные дифенилы и терфенилы, отработанные</td>
          <td class="text-center">кг</td>
          <td class="text-center">от 138</td>
        </tr>

        <tr>
          <td>Отходы полихлорированных дифенилов и терфениов, полибромированных дифенилов, а также отходы веществ и изделий, их содержащих (исключая отходы синтетических и минеральных масел)</td>
          <td class="text-center">кг</td>
          <td class="text-center">от 138</td>
        </tr>

      </tbody>
    </table>
    <br>
    <span>*Цены на услуги формируются в соответствии с законодательством РФ, а также индивидуально, в зависимости от объемов и территориального расположения отхода.</span>
    <br>
    <br>
    <span>Отправьте список отходов образующихся на Вашем предприятии. В течении 3-х рабочих дней мы сформируем коммерческое предложение с указанием цены, сроков и условий оказания услуг.</span>
    <br>
    <br>

  </div>

  <div class="pages-form medium-12 columns">
    <h4 class="text-center">Предварительный расчет стоимости утилизации отхода</h4>
  </div>

  <div class="medium-6 columns">
    <span>Вы можете узнать предворительную стоимость утилизации вашего отхода. Расчет стоимости включает в себя сбор, транспортировку и размещение на ОРО.  </span>
    <br>
    <br>
    <span><b>Для предварительного расчета укажите:</b></span>
    <br>
    <br>
    <ul>
      <li>Место расположения отхода</li>
      <li>Наименование отхода либо номер согласно ФККО</li>
      <li>Адрес электонной почты на который мы отправим предварительный расчет.</li>
    </ul>
  </div>

  <form>
    <div class="mine-form medium-6 light-silver columns">
      <legend>Наличие паспорта на отход</legend>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Есть</label>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Нет</label>
      <label>Место расположения отхода
        <input type="text" placeholder="город">
      </label>
      <label>Наименование отхода
        <input type="text" placeholder="название отхода / номер ФККО">
      </label>
      <label>E-mail
        <input type="text" placeholder="адрес электронной почты">
      </label>
      <button class="button" href="#">Получить предварительный расчет</button>
    </div>
  </form>

</section>
