<div class="price">
  <h5>Гальваношламы и хим. вещества</h5>
  <table>
    <thead>
      <tr>
        <th>Вид отхода</th>
        <th width="120">ед. изм.</th>
        <th width="120">Цена, руб.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Гальванические шламы</td>
        <td>т</td>
        <td>от 11 500</td>
      </tr>
      <tr>
        <td>Отходы кислот</td>
        <td>кг</td>
        <td>от 86</td>
      </tr>
      <tr>
        <td>Кислоты аккумуляторные</td>
        <td>т</td>
        <td>от 19 800</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h5>Растворители, ЛКМ, СОЖ и масла</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Вид отхода</th>
        <th width="120">ед. изм.</th>
        <th width="120">Цена, руб.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Растворители</td>
        <td>т</td>
        <td>от 1 900</td>
      </tr>
      <tr>
        <td>ЛКМ</td>
        <td>т</td>
        <td>от 7 300</td>
      </tr>
      <tr>
        <td>СОЖ</td>
        <td>т</td>
        <td>от 4 500</td>
      </tr>
      <tr>
        <td>Масла отработанные</td>
        <td>т</td>
        <td>от 1 040</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h5>Нефтесодержащие отходы</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Вид отхода</th>
        <th width="120">ед. изм.</th>
        <th width="120">Цена, руб.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Нефтешламы</td>
        <td>т</td>
        <td>от 7 500</td>
      </tr>
      <tr>
        <td>Шламы зачистки емкостей</td>
        <td>т</td>
        <td>от 4 000</td>
      </tr>
      <tr>
        <td>Буровые растворы</td>
        <td>т</td>
        <td>от 5 200</td>
      </tr>
      <tr>
        <td>Грунт загрязненный нефтепродуктами</td>
        <td>т</td>
        <td>от 4 500</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h5>Оборудование с содержанием ПХБ</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Вид отхода</th>
        <th width="120">ед. изм.</th>
        <th width="120">Цена, руб.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Трансформаторы с ПХБ</td>
        <td align="center">кг</td>
        <td>от 138</td>
      </tr>
      <tr>
        <td>Конденсаторы с ПХБ</td>
        <td align="center">кг</td>
        <td>от 117</td>
      </tr>
      <tr>
        <td>Масла отработанные с ПХБ</td>
        <td align="center">кг</td>
        <td>от 475</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h5>Ртутьсодержащие и медицинские отходы</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Вид отхода</th>
        <th width="120">ед. изм.</th>
        <th width="120">Цена, руб.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Отходы оргтехники</td>
        <td align="center">шт</td>
        <td>от 300</td>
      </tr>
      <tr>
        <td>Лампы ртутные</td>
        <td align="center">шт</td>
        <td>от 12,50</td>
      </tr>
      <tr>
        <td>Медицинские отходы </td>
        <td align="center">кг</td>
        <td>от 200</td>
      </tr>
    </tbody>
  </table>
  <br>
  <span>*Цены на услуги формируются в соответствии с законодательством РФ, а также индивидуально, в зависимости от объемов и территориального расположения отхода.</span>
  <br>
  <br>
  <span>Отправьте список отходов образующихся на Вашем предприятии. В течении 3-х рабочих дней мы сформируем коммерческое предложение с указанием цены, сроков и условий оказания услуг.</span>
</div>
