<section  id="services" data-magellan-target="services" class="services row">

  <div class="header-section small-12 medium-12 large-12 columns">
    <div class="header-section__text">Услуги</div>
    <div class="header-section__line"></div>
  </div>

  <h2 class="services__main-text small-12 medium-12 large-12 columns">Сбор, транспортировка, обезвреживание и утилизация промышленных отходов 1, 2, 3, 4 классов опасности</h2>

  <div class="services__content row">

    <div class="content__block block-1 medium-6 large-4 large-push-4 columns">
      <div class="thumbnail"></div>
    </div>

    <div class="content__block block-2 medium-6 large-4 large-pull-4 columns">
      <div class="thumbnail"></div>
    </div>

    <div class="content__block block-2 medium-6 large-4 columns">
      <div class="thumbnail"></div>
    </div>

    <div class="content__block block-2 medium-6 large-4 large-pull-4 columns">
      <div class="thumbnail"></div>
    </div>

    <div class="content__block block-2 medium-6 large-4 columns">
      <div class="thumbnail"></div>
    </div>

    <div class="content__block block-0 large-12 columns">
      <div class="thumbnail"></div>
    </div>

  </div>

</section>
