<section  id="services" data-magellan-target="services" class="services row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Услуги</span>
    <div class="header-section__line"></div>
  </div>

  <h2 class="services__main-text medium-12 columns">Сбор, транспортировка, обезвреживание и утилизация промышленных отходов 1, 2, 3, 4 классов опасности</h2>

  <div class="large-12 columns zero-column">

    <div class="grid row">


      <div id="neft" class="grid-item small-12 medium-6 large-4">
        <img src="assets/img/services/s_neft.png" alt="">
        <h2>
          <span>Утилизация</span>
          <span> нефтесодержащих</span>
          <span> отходов</span>
        </h2>
        <p>Состав и физические свойства отходов нефтедобывающей и нефтеперерабатывающей промышленности (нефтешламы), могут варьироваться в зависимости...</p>
        <a href="neft.html" class="button light-green hover-effect">Узнать больше</a>
      </div>

      <div id="linked" class="grid-item small-12 medium-6 x-large-4 large-4">
        <img src="assets/img/services/s_doc.png" alt="">
        <h2>
          <span>Экологическое</span><br>
          <span> и документальное</span>
          <span> сопровождение</span>
        </h2>
        <p>Состав и физические свойства отходов нефтедобывающей и нефтеперерабатывающей промышленности (нефтешламы), могут варьироваться в зависимости...</p>
        <a href="about.html" class="button light-green hover-effect">Узнать больше</a>
      </div>

      <div id="him" class="grid-item small-12 medium-6 large-4">
        <img src="assets/img/services/s_him.png" alt="">
        <h2>
          <span>Обезвреживание</span>
          <span> гальваношламов</span><br>
          <span> и химических веществ</span>
        </h2>
        <p>Состав и физические свойства отходов нефтедобывающей и нефтеперерабатывающей промышленности (нефтешламы), могут варьироваться в зависимости...</p>
        <a href="about.html" class="button light-green hover-effect">Узнать больше</a>
      </div>

      <div id="sozh" class="grid-item small-12 medium-6 large-4">
        <img src="assets/img/services/s_sozh.png" alt="">
        <h2>
          <span>Утилизация</span><br>
          <span> СОЖ, Растворителей,</span><br>
          <span> лкм, мастик и смол</span>
        </h2>
        <p>Состав и физические свойства отходов нефтедобывающей и нефтеперерабатывающей промышленности (нефтешламы), могут варьироваться в зависимости...</p>
        <a href="about.html" class="button light-green hover-effect">Узнать больше</a>
      </div>

      <div id="phb" class="grid-item small-12 medium-6 large-4">
        <img src="assets/img/services/s_phb.png" alt="">
        <h2>
          <span>Сбор для последующей</span>
          <span> утилизации оборудования</span><br>
          <span> с содержанием ПХБ</span>
        </h2>
        <p>Состав и физические свойства отходов нефтедобывающей и нефтеперерабатывающей промышленности (нефтешламы), могут варьироваться в зависимости...</p>
        <a href="about.html" class="button light-green hover-effect">Узнать больше</a>
      </div>

      <div id="med" class="grid-item small-12 medium-6 large-4">
        <img src="assets/img/services/s_med.png" alt="">
        <h2>
          <span>Утилизация</span>
          <span> ртутьсодержащих</span><br>
          <span> и медицинских отходов</span>
        </h2>
        <p>Состав и физические свойства отходов нефтедобывающей и нефтеперерабатывающей промышленности (нефтешламы), могут варьироваться в зависимости...</p>
        <a href="about.html" class="button light-green hover-effect">Узнать больше</a>
      </div>

      <div id="price" class="grid-item small-12 medium-12 large-8">
        <img src="assets/img/services/s_price.png" alt="">
        <h2>
          <span>Предварительный</span><br>
          <span> расчет комплексной</span><br>
          <span> утилизации отхода</span>
        </h2>
        {{> price}}
        <!-- <a href="about.html" class="button light-green hover-effect">Узнать больше</a> -->
      </div>

      <div class="grid-sizer small-12 medium-6 large-4"></div>

    </div>

  </div>

</section>
