<section  id="services" data-magellan-target="services" class="services row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">Услуги</span>
    <div class="header-section__line"></div>
  </div>

  <div class="services__block small-12 columns">

    <row>

      <a href="eco.html" id="linked" class="service__box large-4 medium-6 small-12 columns">
        <div class="wrapper">
          <div class="service__box-head">
            <img src="assets/img/services/s_doc.png" alt="">
          </div>
          <div class="service__box-content">
            <h5>Экологическое и документальное сопровождение</h5>
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. О рукопись заманивший своих проектах имеет!</p>
          </div>
        </div>
      </a>

      <a href="neft.html" id="neft" class="service__box large-4 medium-6 small-12 columns">
        <div class="wrapper">
          <div class="service__box-head">
            <img src="assets/img/services/s_neft.png" alt="">
          </div>
          <div class="service__box-content">
            <h5>Утилизация нефтесодержащих отходов</h5>
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. О рукопись заманивший своих проектах имеет!</p>
          </div>
        </div>
      </a>

      <a href="him.html" id="him" class="service__box large-4 medium-6 small-12 columns">
        <div class="wrapper">
          <div class="service__box-head">
            <img src="assets/img/services/s_him.png" alt="">
          </div>
          <div class="service__box-content">
            <h5>Обезвреживание гальваношламов и&nbsp;химических веществ</h5>
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. О рукопись заманивший своих проектах имеет!</p>
          </div>
        </div>
      </a>

      <a href="sozh.html" id="sozh" class="service__box large-4 medium-6 small-12 columns">
        <div class="wrapper">
          <div class="service__box-head">
            <img src="assets/img/services/s_sozh.png" alt="">
          </div>
          <div class="service__box-content">
            <h5>Утилизация СОЖ, Растворителей, лкм,&nbsp;мастик и&nbsp;смол</h5>
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. О рукопись заманивший своих проектах имеет!</p>
          </div>
        </div>
      </a>

      <a href="phb.html" id="phb" class="service__box large-4 medium-6 small-12 columns">
        <div class="wrapper">
          <div class="service__box-head">
            <img src="assets/img/services/s_phb.png" alt="">
          </div>
          <div class="service__box-content">
            <h5>Сбор для последующей утилизации оборудования с&nbsp;содержанием ПХБ</h5>
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. О рукопись заманивший своих проектах имеет!</p>
          </div>
        </div>
      </a>

      <a href="med.html" id="med" class="service__box large-4 medium-6 small-12 columns">
        <div class="wrapper">
          <div class="service__box-head">
            <img src="assets/img/services/s_med.png" alt="">
          </div>
          <div class="service__box-content">
            <h5>Утилизация ртутьсодержащих и&nbsp;медицинских отходов</h5>
            <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. О рукопись заманивший своих проектах имеет!</p>
          </div>
        </div>
      </a>

      <div id="price" class="service__box small-12 columns">
        <div class="service__box-head">
          <img src="assets/img/services/s_price.png" alt="">
        </div>
        <div class="service__box-content price">
          {{> price}}
        </div>
      </div>

    </row>

  </div>

  <!-- <h2 class="services__main-text medium-12 columns">Сбор, транспортировка, обезвреживание и&nbsp;утилизация промышленных отходов 1,&nbsp;2,&nbsp;3,&nbsp;4 классов опасности</h2>

  <div class="large-12 columns zero-column">

    <div class="grid row">


      <a href="eco.html" id="linked" class="grid-item small-12 medium-6 large-4">
        <img src="assets/img/services/s_doc.png" alt="">
        <h2>
          <span>Экологическое</span><br>
          <span> и документальное</span><br>
          <span> сопровождение</span>
        </h2>
        <ul>
          <li>Паспортизация отхода</li>
          <li>Компонентный анализ</li>
          <li>Проекты по обращению с отходами</li>
          <li>Юридическое сопровождение</li>
        </ul>
      </a>

      <a href="neft.html" id="neft" class="grid-item small-12 medium-6 large-4">
        <img src="assets/img/services/s_neft.png" alt="">
        <h2>
          <span>Утилизация</span><br>
          <span> нефтесодержащих</span><br>
          <span> отходов</span>
        </h2>
        <ul>
          <li>Нефтешламы</li>
          <li>Шламы зачистки емкостей</li>
          <li>Буровые растворы</li>
          <li>Грунт загрязненный нефтепродуктами</li>
        </ul>
      </a>

      <a href="him.html" id="him" class="grid-item small-12 medium-6 large-4">
        <img src="assets/img/services/s_him.png" alt="">
        <h2>
          <span>Обезвреживание</span><br>
          <span> гальваношламов</span><br>
          <span> и химических веществ</span>
        </h2>
        <ul>
          <li>Гальванические шламы</li>
          <li>Отходы кислот</li>
          <li>Кислоты аккумуляторные</li>
        </ul>
      </a>

      <a href="sozh.html" id="sozh" class="grid-item small-12 medium-6 large-4">
        <img src="assets/img/services/s_sozh.png" alt="">
        <h2>
          <span>Утилизация</span><br>
          <span> СОЖ, Растворителей,</span><br>
          <span> лкм, мастик и смол</span>
        </h2>
        <ul>
          <li>Растворители</li>
          <li>Лакокрасочные материалы</li>
          <li>Смазочно-охлаждающие жидкости</li>
          <li>Масла отработанные</li>
        </ul>
      </a>

      <a href="phb.html" id="phb" class="grid-item small-12 medium-6 large-4">
        <img src="assets/img/services/s_phb.png" alt="">
        <h2>
          <span>Сбор для последующей</span><br>
          <span> утилизации оборудования</span><br>
          <span> с содержанием ПХБ</span>
        </h2>
        <ul>
          <li>Трансформаторы с ПХБ</li>
          <li>Конденсаторы с ПХБ</li>
          <li>Масла отработанные с ПХБ</li>
        </ul>
      </a>

      <a href="med.html" id="med" class="grid-item small-12 medium-6 large-4">
        <img src="assets/img/services/s_med.png" alt="">
        <h2>
          <span>Утилизация</span><br>
          <span> ртутьсодержащих</span><br>
          <span> и медицинских отходов</span>
        </h2>
        <ul>
          <li>Отходы оргтехники</li>
          <li>Лампы ртутные</li>
          <li>Медицинские отходы</li>
        </ul>
      </a>

      <div id="price" class="grid-item small-12 medium-12 x-large-8 large-12">
        <img src="assets/img/services/s_price.png" alt="">
        <h2>
          <span>Предварительный</span><br>
          <span> расчет комплексной</span><br>
          <span> утилизации отхода</span>
        </h2>
      </div>

      <div class="grid-sizer small-12 medium-6 large-4"></div>

    </div>

  </div> -->

</section>
