<header id="header-services" class="header row">

  <img class="header-bg" src="assets/img/header/services_bg_sozh_w1200.jpg" alt="">

  <div class="header__text medium-12 columns">
    <h1>
      <span class="light-green">Утилизация</span><br>
      <span class="medium-green"> СОЖ, Растворителей,</span><br>
      <span class="dark-green"> лкм, мастик и смол</span>
    </h1>
  </div>

</header>

<section id="content-neft" class="pages-content row">

  <div class="header-section light-gray medium-12 columns">
    <span class="header-section__text">МАСЛА, СОЖ И ЛКМ</span>
    <div class="header-section__line"></div>
  </div>

  <div class="pages-text medium-12 columns">
    <p>Лакокрасочные материалы, смолы, растворители, клеящие вещества, отработанные масла, полученные из сырой нефти, смазочно-охлаждающие технические жидкости. Все эти типы материалов активно используются в различных видах промышленности. Поскольку готовятся эти составы на базе нефтяных масел, синтетических соединений и водно-жировых эмульсий, утилизация и обезвреживание СОЖ, ЛКМ, отработанных масел должны проходить с соблюдением экологических норм.</p>
    <p>Проблема утилизации и обезвреживания отходов данной группы требует пристального внимания, так как существует огромное количество прецедентов, когда предприятия не осознавая степень опасности, сбывают данные отходы сторонним организациям как ГСМ. Использование таких отходов в качестве ГСМ не допустимо, так как данные отходы являются высокотоксичными, большинство из них относится к чрезвычайно опасным отходам 1 класса.</p>
  </div>

  <div class="pages-price medium-12 columns">
    <h4 class="text-center">Растворители, ЛКМ, СОЖ и масла</h4>
    <table>
      <thead>
        <tr>
          <th>Вид отхода</th>
          <th width="120" class="text-center">ед. изм.</th>
          <th width="120" class="text-center">Цена, руб.</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>Отходы лакокрасочных средств</td>
          <td class="text-center">т</td>
          <td class="text-center">от 7 300</td>
        </tr>

        <tr>
          <td>Отходы органических растворителей, красок, лаков, клея, мастик и смол</td>
          <td class="text-center">т</td>
          <td class="text-center">от 1 900</td>
        </tr>

        <tr>
          <td>Затвердевшие отходы пластмасс</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
        </tr>

        <tr>
          <td>Остатки ацетона, потерявшего потребительские свойства</td>
          <td class="text-center">т</td>
          <td class="text-center">от 1 900</td>
        </tr>

        <tr>
          <td>Отходы бензола</td>
          <td class="text-center">т</td>
          <td class="text-center">от 7 300</td>
        </tr>

        <tr>
          <td>Отходы полимерных материалов</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
        </tr>

        <tr>
          <td>Отходы этиленгликоля</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
        </tr>

        <tr>
          <td>Тара загрязненная ЛКМ</td>
          <td class="text-center">---</td>
          <td class="text-center">---</td>
        </tr>

      </tbody>
    </table>
    <br>
    <span>*Цены на услуги формируются в соответствии с законодательством РФ, а также индивидуально, в зависимости от объемов и территориального расположения отхода.</span>
    <br>
    <br>

  </div>

  {{> main-form}}

</section>
